@import '@/styles/common/mixins.scss';

.header {
  width: 100%;
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  @include tablet {
    height: 80px;
    padding: 0 30px;
  }
}

.main {
  background: #270062;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;

  @include tablet {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.assign {
  background: #3A3C56;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right{
  margin-left: 100px;
}