.alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: 2000;

  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
    max-width: 300px;
    border-radius: 15px;
    background: var(--MOBILE-admin-Keywhite, #FFF);
    padding: 10px;
    box-sizing: border-box;
  }

  &-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 130px;
    color: var(--MOBILE-admin-Keyblack, #121212);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
  }

  &-button-container {
    text-align: center;
    margin-top: 10px;
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}