.menu {
  &-container {
    position: relative;
    z-index: 2;
    transition: all .3s;
    .dim {
      position:fixed;
      top: 0;
      left: 0;
      content: '';
      display: none;
      width: 100%;
      height: 100%;
      background: rgba(18, 18, 18, 0.30);
    }
    &.open {
      z-index: 1002;
    }
    &.open .dim {
      display: block;
    }
  }
  &-inner {
    position: fixed;
    top: 0;
    right: calc(-1 * (270px + env(safe-area-inset-bottom)));
    z-index: 1000;
    width: 223px;
    height: 100%;
    background: var(--mode-Background);
    border-radius: 10px 0 0 10px;
    transition: all .3s;
    box-shadow: 0px 0px 10px 0px #1212124D;
    [data-theme="dark"] & {
      box-shadow: 0px 0px 10px 0px #FFFFFF;
    }
    @at-root .open & {
      right: calc(env(safe-area-inset-bottom));
    }
    .menu-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 47px;
      padding: 0 20px;
      font-size: 18px;
      color: var(--mode-font_key);
    }

    .close-button {
      z-index: 999;
      position: absolute;
      top: 16px;
      left: -46px;
      width: 47px;
      height: 48px;
      border-radius: 15px 0 0 15px;
      background-color: var(--mode-Background);
      border: none;
      box-shadow: -5px 0px 5px -4px #1212124D;
      [data-theme="dark"] & {
        box-shadow: -5px 0px 5px -4px #FFFFFF;
      }
      & > span{
        display: block;
        position: absolute;
        left: 14px;
        width: 18px;
        height: 2px;
        border-radius: 5px;
        background-color: var(--mode-gray1);
        [data-theme="dark"] & {
          background-color: var(--mode-font_key);
        }
        &:nth-of-type(1) {
          top: 23px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          top: 23px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &-list-wrap {
    height: calc(100% - 47px);
    padding: 0 6px 0 10px;
  }
  &-list {
    padding: 0 8px 0 10px;
    max-height: 100%;
    overflow: scroll;
  }
  &-item {
    margin-bottom: 8px;
    padding-right: 5px;
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 15px;
    }
    & > button {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: 5px;
      height: 53px;
      padding: 9px 25px 10px 12px;
      border-radius: 5px;
      background-color: var(--mode-Background);
      box-shadow: 0 2px 6px 0 rgba(107, 89, 140, 0.25);
      color: var(--mode-gray1);
      [data-theme="dark"] & {
        background-color: var(--mode-color2);
      }
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        right: 15px;
        content: "";
        display:inline-block;
        width: 8px;
        height: 2px;
        border-radius: 2px;
        background-color: var(--mode-gray2);
        border-radius: 2px;
        [data-theme="dark"] & {
          background-color: var(--mode-font_key);
        }
      }
      &::before {
        margin-top: 2px;
        transform: rotate(-45deg);
      }
      &::after {
        margin-top: -2px;
        transform: rotate(45deg);
      }
      .sub-title{
        color: var(--mode-darkgray);
        font-size: 8px;
        font-weight: 300;
        line-height: 10px;
        letter-spacing: -0.16px;
        &::after {
          content: '';
          display:inline-block;
          width: 3px;
          height: 6px;
          margin-left: 2px;
          background: url("../../../public/assets/image/icon-pin-dark.svg") no-repeat right center / 100% auto;
        }
        [data-theme="dark"] & {
          color: var(--mode-gray1);
        }
      }
      .title{
        display:block;
        color: var(--mode-darkgray); 
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: -0.3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        [data-theme="dark"] & {
          color: var(--mode-gray1);
        }
      }
    }
    &.active {
      & > button {
        background-color: var(--mode-color2);
        [data-theme="dark"] & {
          background-color: var(--mode-color3);
        }
        .sub-title,
        .title {
          color: var(--mode-font_key);
        }
        &::before,
        &::after {
          background-color: var(--mode-darkgray);
        }
      }
    }
  }
}