.menu {
  &-container {
    position: relative;
    z-index: 2;
    transition: all 0.3s;
    .dim {
      position: fixed;
      top: 0;
      left: 0;
      content: "";
      display: none;
      width: 100%;
      height: 100%;
      background: rgba(18, 18, 18, 0.3);
    }
    &.open {
      z-index: 1002;
    }
    &.open .dim {
      display: block;
    }
  }
  &-inner {
    position: fixed;
    top: 0;
    right: calc(-1 * (300px + env(safe-area-inset-bottom)));
    z-index: 1000;
    width: 223px;
    height: 100%;
    background: var(--mode-Background);
    border-radius: 10px 0 0 10px;
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 0px #1212124d;
    [data-theme="dark"] & {
      box-shadow: 0px 0px 10px 0px #ffffff;
    }
    @at-root .open & {
      right: calc(env(safe-area-inset-bottom) + 0);
    }
    & .user {
      &-info {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 75.5px;
        padding: 20px 18px 13.5px 25px;
        &::after {
          position: absolute;
          left: 15px;
          bottom: 0;
          content: "";
          display: block;
          width: calc(100% - 34px);
          height: 1px;
          background: var(--mode-gray2);
        }
        &-left {
          max-width: calc(100% - 90px);
        }
        .theme-button {
          display: inline-flex;
          align-items: flex-end;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: var(--mode-keycolor) url("../../../public/assets/image/icon-light-theme.svg")
            no-repeat center 5px / 19px;
          color: var(--mode-Background);
          text-align: center;
          font-size: 5px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: -0.1px;
          border: none;
          [data-theme="dark"] & {
            color: var(--mode-font_key);
          }
        }
      }
      &-team {
        width: 100%;
        color: var(--mode-font_key);
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.24px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-name {
        width: 100%;
        margin-top: 3px;
        color: var(--mode-font_key);
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.36px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-logout {
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-left: 7px;
        border-radius: 50%;
        background: var(--Light-mode-keycolor) url("../../../public/assets/image/icon-logout.svg")
          no-repeat center 5px / 24px;
        color: var(--Light-mode-Background);
        text-align: center;
        font-size: 5px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.1px;
        border: none;
      }
    }

    .close-button {
      z-index: 999;
      position: absolute;
      top: 16px;
      left: -46px;
      width: 47px;
      height: 48px;
      border-radius: 15px 0 0 15px;
      background-color: var(--mode-Background);
      border: none;
      box-shadow: -5px 0px 5px -4px #1212124d;
      [data-theme="dark"] & {
        box-shadow: -5px 0px 5px -4px #ffffff;
      }
      & > span {
        display: block;
        position: absolute;
        left: 14px;
        width: 18px;
        height: 2px;
        border-radius: 5px;
        background-color: var(--mode-gray1);
        [data-theme="dark"] & {
          background-color: var(--mode-font_key);
        }
        &:nth-of-type(1) {
          top: 23px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          top: 23px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &-list-wrap {
    height: calc(100% - 75.5px);
    padding: 10px 6px 0 10px;
  }
  &-list {
    padding: 0 8px 0 10px;
    max-height: 100%;
    overflow: scroll;
  }
  &-item {
    margin-bottom: 8px;
    padding-right: 5px;
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 15px;
    }
    & > button {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: 5px;
      height: 53px;
      padding: 9px 25px 10px 12px;
      border-radius: 5px;
      background-color: var(--mode-Background);
      box-shadow: 0 2px 6px 0 rgba(107, 89, 140, 0.25);
      color: var(--mode-gray1);
      font-size: 15px;
      font-weight: 700;
      [data-theme="dark"] & {
        background-color: var(--mode-color2);
      }
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        right: 15px;
        content: "";
        display: inline-block;
        width: 8px;
        height: 2px;
        background-color: var(--mode-gray2);
        border-radius: 2px;
        [data-theme="dark"] & {
          background-color: var(--mode-font_key);
        }
      }
      &::before {
        margin-top: 2px;
        transform: rotate(-45deg);
      }
      &::after {
        margin-top: -2px;
        transform: rotate(45deg);
      }
    }
    &.active {
      & > button {
        background-color: var(--mode-color2);
        color: var(--mode-darkgray);
        [data-theme="dark"] & {
          background-color: var(--mode-color3);
          color: var(--mode-font_key);
        }
        &::before,
        &::after {
          background-color: var(--mode-darkgray);
          [data-theme="dark"] & {
            background-color: var(--mode-font_key);
          }
        }
      }
    }
  }
}
