.holecup {
  position: relative;
  height: 100%;
  &-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--mode-Background);
    .arrow-button {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 50px;
      background: var(--mode-color1);
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 13px;
        height: 13px;
        margin-left: -7px;
        margin-top: -7px;
        content: "";
        display: block;
        border-radius: 2px;
        border-left: 4px solid var(--mode-gray1);
        border-top: 4px solid var(--mode-gray1);
        transform: rotate(-45deg);
      }
    }
    .holecup-pin {
      width: 60px;
      min-width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding-top: 55px;
      padding-bottom: 65px;
      li {
        position: relative;
      }
      &-item {
        transition: all 0.05s;
        border: none;
        outline: none;
        background: none;
        & ~ span {
          transition: all 0.05s;
          position: absolute;
          right: calc(100% + 26px);
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 26px;
          height: 26px;
          border-radius: 50%;
        }
        &.active {
          margin-left: 10px;
          ~ span {
            right: 100%;
          }
        }
        svg {
          width: 23px;
          height: auto;
        }
      }
    }
    .holecup-map {
      position: relative;
      height: 100%;
      & > img {
        width: auto;
        height: 100%;
      }
      .pointer-pin {
        position: absolute;
        transform: translate(-50%, -100%);
      }
      .no-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 100%;
        background-color: var(--mode-gray2);
        color: var(--darkgray);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.36px;
      }
    }
    .holecup-green {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: 15px;
      padding-bottom: 60px;
      .map-mode-toggle {
        display: flex;
        align-items: center;
        gap: 0 5px;
        width: 120px;
        padding: 6px 8px;
        background-color: var(--mode-color3);
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        [data-theme="dark"] & {
          background: var(--mode-gray3);
          box-shadow: 0 0 5px 0 #ffffff;
          backdrop-filter: blur(19px);
        }
        button {
          width: 100%;
          height: 36px;
          outline: none;
          border: none;
          border-radius: 10px;
          &.landscape {
            background: var(--mode-color3)
              url("../../../../public/assets/image/icon-phone-landscape.svg") no-repeat center /
              30px auto;
            [data-theme="dark"] & {
              background-color: var(--mode-gray3);
            }
          }
          &.portrait {
            background: var(--mode-color3)
              url("../../../../public/assets/image/icon-phone-portrait.svg") no-repeat center / 17px
              auto;
            [data-theme="dark"] & {
              background-color: var(--mode-gray3);
            }
          }
          &.active {
            background-color: var(--mode-color1);
            [data-theme="dark"] & {
              background-color: var(--mode-color3);
            }
          }
        }
      }
      &-box {
        width: 130px;
        padding: 8px 10px;
        border-radius: 15px;
        background: var(--mode-Background);
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(9.5px);
        [data-theme="dark"] & {
          background: var(--mode-color2);
        }
        .img-wrap {
          position: relative;
          overflow: hidden;
          width: 110px;
          height: 110px;
          margin-bottom: 8px;
          & > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          .no-image {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            height: 100%;
            text-align: center;
            word-break: keep-all;
            [data-theme="dark"] & {
              color: var(--mode-font_key);
            }
          }
        }
        .button-wrap {
          display: flex;
          gap: 0 6px;
          & > button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 21px;
            width: 100%;
            border-radius: 21px;
            background: var(--mode-color1);
            color: var(--mode-font_key);
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.24px;
            padding: 0 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            [data-theme="dark"] & {
              background: var(--mode-gray3);
              color: var(--mode-font_key);
            }
            &.active {
              background: var(--mode-keycolor);
              color: var(--mode-gray3);
              [data-theme="dark"] & {
                color: var(--mode-font_key);
              }
            }
          }
        }
      }
      .save-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 100%;
        max-width: 150px;
        border-radius: 36px;
        background: var(--mode-keycolor);
        color: var(--mode-Background);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.36px;
        [data-theme="dark"] & {
          background: var(--mode-keycolor);
          color: var(--mode-font_key);
        }
        &:disabled {
          background-color: var(--mode-gray2);
          color: var(--mode-gray3);
          [data-theme="dark"] & {
            background: var(--mode-color2);
            color: var(--mode-gray2);
          }
        }
      }
    }
  }
  &-info {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    max-height: 60px;
    background: var(--mode-color1);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    .title-wrap {
      width: 150px;
      padding: 0 10px;
      .course {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        color: var(--mode-gray1);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  &-menu-box {
    display: flex;
    align-items: center;
    width: calc(100% - 150px);
    height: 100%;
    flex-direction: column;
    gap: 11px;
    .hole-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 5px 6px;
      width: 100%;
      height: 100%;
      max-width: 100%;
      overflow: hidden;
      overflow-x: scroll;
      li {
        display: inline-block;
      }
      .hole-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: var(--mode-Background);
        color: var(--mode-darkgray);
        border: 4px solid var(--mode-color1);
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.24px;
        [data-theme="dark"] & {
          color: var(--mode-darkgray);
          background: var(--mode-font_key);
          border-color: var(--mode-color1);
        }
        &.active {
          position: relative;
          font-size: 20px;
          font-weight: 700;
          color: var(--mode-keycolor);
          border-color: var(--mode-Background);
          background: var(--mode-color1);
          box-shadow: 0 0 6px 0 #00000066;
          [data-theme="dark"] & {
            background: var(--mode-keycolor);
            color: var(--mode-font_key);
            border-color: var(--mode-font_key);
          }
        }
      }
    }
  }
  .no-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--mode-gray1);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.toast {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  height: 25px;
  padding: 0 30px;
  border-radius: 0 0 5px 5px;
  background: var(--MOBILE-admin-PointYellow, #fe0);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  color: var(--MOBILE-admin-Keyblack, #121212);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

.floating-menu-button {
  position: fixed;
  top: 16px;
  right: 0;
  z-index: 99;
  width: 47px;
  height: 48px;
  padding-top: 28px;
  border-radius: 15px 0 0 15px;
  background: var(--mode-keycolor) url("../../../../public/assets/image/icon-holecup-white.svg")
    no-repeat center 10px / 20px auto;
  color: var(--mode-Background);
  font-size: 6px;
  font-weight: 700;
  text-align: center;
  @at-root :global(.rotate-landscape) & {
    right: env(safe-area-inset-bottom);
  }
  [data-theme="dark"] & {
    color: var(--mode-font_key);
  }
}
