.holecup {
  height: 100%;
  &-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
    .holecup-pin {
      width: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 19px 0 40px 20px;
      li {
        position: relative;
      }
      &-item {
        transition: all 0.05s;
        border: none;
        outline: none;
        background: none;
        & ~ span {
          transition: all 0.05s;
          position: absolute;
          right: calc(100% + 40px);
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 26px;
          height: 26px;
          border-radius: 50%;
        }
        &.active {
          margin-left: 10px;
          ~ span {
            right: 100%;
          }
        }
      }
    }
    .holecup-map {
      position: relative;
      width: calc(100% - 60px - 240px);
      height: 100%;
      text-align: center;
      & > img {
        width: auto;
        max-width: 100%;
        height: 100%;
      }
      .pointer-pin {
        position: absolute;
        transform: translate(-50%, -100%);
      }
      .no-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #F5F5F5;
        color: #666;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.36px;
      }
    }
    .holecup-green {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 240px;
      height: 100%;
      gap: 15px;
      .map-mode-toggle {
        display: flex;
        align-items: center;
        gap: 0 5px;
        width: 120px;
        padding: 6px 8px;
        background-color: #fff;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.40);
        border-radius: 10px;
        button {
          width: 100%;
          height: 36px;
          outline: none;
          border: none;
          border-radius: 10px;
          &.landscape {
            background: #fff url("../../../../public/assets/image/icon-landscape.svg") no-repeat center / 30px auto;
          }
          &.portrait {
            background: #fff url("../../../../public/assets/image/icon-portrait.svg") no-repeat center / 17px auto;
          }
          &.active {
            background-color: #2F0077;
          }
        }
      }
      &-box {
        width: 150px;
        padding: 8px 10px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.70);
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.40);
        backdrop-filter: blur(9.5px);
        .img-wrap {
          position: relative;
          overflow: hidden;
          width: 130px;
          height: 130px;
          margin-bottom: 8px;
          & > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          .no-image {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            height: 100%;
          }
        }
        .button-wrap {
          display: flex;
          gap: 0 6px;
          & > button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 21px;
            width: 100%;
            border-radius: 21px;
            background: #A6A6A6;color: var(--MOBILE-admin-Keywhite, #FFF);
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.24px;
            &.active {
              background: #60F;
            }
          }
        }
      }
      .save-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 100%;
        max-width : 150px;
        border-radius: 36px;
        background: var(--MOBILE-admin-Keypurple, #2F0077);
        color: var(--MOBILE-admin-Keywhite, #FFF);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.36px;
        &.active {
          background: #60F;
        }
        &:disabled {
          background-color: #D2CCDB;
        }
      }
    }
  }
  &-info {
    height: 50px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .title-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      .course {
        display: block;
        padding: 0 11px;
        width: 100%;
        height: 21px;
        line-height: 21px;
        border-radius: 21px;
        color: var(--MOBILE-admin-Keypurple, #2F0077);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.24px;
        background: var(--MOBILE-admin-Purplelight, #EAE6FF);
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  &-menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    width: calc(100% - 150px);
    height: 100%;
    box-sizing: border-box;
    .hole-list {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      max-width: 100%;
      padding: 5px 6px;
      overflow: hidden;
      overflow-x: scroll;
      .hole-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--MOBILE-admin-Keywhite, #FFF);
        color: var(--MOBILE-admin-Keypurple, #2F0077);
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.24px;
        &.active {
          position: relative;
          font-size: 20px;
          font-weight: 700;
          color: var(--MOBILE-admin-Keywhite, #FFF);
          background: none;
          &::before {
            content:'';
            z-index: -1;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            border: 3px solid var(--MOBILE-admin-Keywhite, #FFF);
            background: var(--MOBILE-admin-Keypurple, #2F0077);
          }
        }
      }
    }
  }
  .no-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--MOBILE-admin-Grayscale4, #666);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.toast {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  height: 25px;
  padding: 0 30px;
  border-radius: 0 0 5px 5px;
  background: var(--MOBILE-admin-PointYellow, #FE0);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  color: var(--MOBILE-admin-Keyblack, #121212);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}