@import '../../../common/mixins';

.seatsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  overflow-y: auto;
  padding: 40px;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}
