@import '@/styles/common/mixins';

.tableContainer {
    position: absolute;
    transition: transform 0.2s ease;

    @include touch-device {
        @include touch-target(44px);
    }

    &:active {
        transform: scale(0.98);
    }
}

.innerContent {
    position: absolute;
    background: white;
    overflow: hidden;
    border-radius: 5px;
}

.tableT4S {
    .innerContent {
        width: 97px;
        height: 97px;
        left: 12px;
        top: 12px;
    }

    .time {
        position: absolute;
        top: 10px;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 900;
        word-wrap: break-word;
    }

    .timeWithReservation {
        left: 32px;
    }

    .timeWithoutReservation {
        left: 30px;
    }

    .name {
        left: 29px;
        top: 28px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 800;
        word-wrap: break-word;
    }

    .group {
        left: 27px;
        top: 48px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }

    .footer {;
        .tableNumber {
            top: 4px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 13px;
            font-weight: 800;
            word-wrap: break-word;
        }

        .tableNumberLong {
            left: 37px;
        }

        .tableNumberShort {
            left: 40px;
        }
    }
}

.tableT6R {
    .innerContent {
        width: 183px;
        height: 97px;
        left: 12px;
        top: 12px;
    }

    .time {
        left: 76px;
        top: 10px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 900;
        word-wrap: break-word;
    }

    .name {
        left: 72px;
        top: 28px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 800;
        word-wrap: break-word;
    }

    .group {
        left: 68px;
        top: 48px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }

    .footer {

        .tableNumber {
            left: 81px;
            top: 4px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 13px;
            font-weight: 800;
            word-wrap: break-word;
        }
    }
}

.tableT8S {
    .innerContent {
        width: 183px;
        height: 183px;
        left: 12px;
        top: 12px;
    }

    .time {
        left: 76px;
        top: 35px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 900;
        word-wrap: break-word;
    }

    .name {
        left: 72px;
        top: 76px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 800;
        word-wrap: break-word;
    }

    .group {
        left: 68px;
        top: 96px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }

    .footer {

        .tableNumber {
            left: 81px;
            top: 3px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 13px;
            font-weight: 800;
            word-wrap: break-word;
        }
    }
}

.tableT8R {
    .innerContent {
        width: 269px;
        height: 97px;
        left: 12px;
        top: 12px;
    }

    .time {
        left: 119px;
        top: 10px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 900;
        word-wrap: break-word;
    }

    .name {
        left: 115px;
        top: 28px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 800;
        word-wrap: break-word;
    }

    .group {
        left: 111px;
        top: 48px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }

    .footer {

        .tableNumber {
            text-align: center;
            color: white;
            font-size: 13px;
            font-weight: 800;
            word-wrap: break-word;
        }
    }
}

.tableT10R {
    .innerContent {
        width: 356px;
        height: 97px;
        left: 12px;
        top: 12px;
        transform-origin: top left;
    }

    .time {
        left: 162px;
        top: 10px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 900;
        word-wrap: break-word;
    }

    .name {
        left: 158px;
        top: 28px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 800;
        word-wrap: break-word;
    }

    .group {
        left: 155px;
        top: 48px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }

    .footer {

        .tableNumber {
            text-align: center;
            color: white;
            font-size: 13px;
            font-weight: 800;
            word-wrap: break-word;
        }
    }
}

.tableT12R {
    .innerContent {
        width: 447px;
        height: 97px;
        left: 12px;
        top: 12px;
        transform-origin: top left;
    }

    .time {
        left: 203px;
        top: 10px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 900;
        word-wrap: break-word;
    }

    .name {
        left: 199px;
        top: 28px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 800;
        word-wrap: break-word;
    }

    .group {
        left: 196px;
        top: 48px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }

    .footer {

        .tableNumber {
            text-align: center;
            color: white;
            font-size: 13px;
            font-weight: 800;
            word-wrap: break-word;
        }
    }
}

.border {
    position: absolute;
    width: 76px;
    height: 9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.borderTop {
    top: 0;
}

.borderBottom {
    transform: rotate(-180deg);
    transform-origin: top left;
}

.borderLeft {
    transform: rotate(-90deg);
    transform-origin: top left;
}

.borderRight {
    transform: rotate(90deg);
    transform-origin: top left;
}
