@import '../../../common/mixins';

.seatsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 60px;
  overflow-y: auto;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 50px;
  }
}

.seatCard {
  width: 100%;
  min-height: 200px;
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  padding: 16px;

  &.empty {
    background: #9081D8;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }

  &.occupied {
    background: #48487C;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.30);
  }
}

.timeText {
  color: #F3F3F3;
  font-size: 16px;
  font-weight: 900;
  word-wrap: break-word;

  .occupied & {
    color: #E6E9F1;
  }
}

.customerInfo {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.customerName {
  color: #E6E9F1;
  font-size: 20px;
  font-weight: 800;
  word-wrap: break-word;
}

.groupName {
  color: #E6E9F1;
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
}

.membersList {
  color: #E6E9F1;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
}

.tableTab {
  height: 30px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .empty & {
    background: #ECE6F4;
  }

  .occupied & {
    background: #D4E6FA;
  }
}

.tableNumber {
  text-align: center;
  color: #313246;
  font-size: 18px;
  font-weight: 800;
  word-wrap: break-word;

  .seatWrapper:nth-child(n+2) & {
    left: 143.16px;
  }
}
