.monitoring {
  &-container {
    width: 100%;
    position: relative;
    background: var(--mode-Background);
    height: 100%;
    overflow: scroll;
    padding: 45px 10px 13px;
    .monitoring-header {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 22px;
      width: 100%;
      height: 45px;
      padding: 0 10px;
      background: var(--mode-Background);
      .course-list-wrap {
        width: calc(100% - 22px - 130px);
        height: 28px;
        border: 3px solid var(--mode-color1);
        border-radius: 28px;
        background: var(--mode-color1);
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
        z-index: 2;
        overflow: hidden;
        .course-list {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 7px;
          max-width: 100%;
          overflow: auto;
          .course-name {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            height: 22px;
            padding: 0 10px;
            border: none;
            border-radius: 22px;
            background-color: var(--mode-Background);
            white-space: nowrap;
            color: var(--mode-font_key);
            font-size: 11px;
            .course-color {
              width: 10px;
              height: 10px;
              border-radius: 10px;
            }
          }
        }
      }
      .monitoring-etc-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
        width: 130px;
        height: 28px;
        border-radius: 28px;
        background: var(--mode-keycolor);
        box-sizing: border-box;
        [data-theme="dark"] & {
          // background: var(--mode-color1);
          // border-color: var(--mode-color1);
        }
        &-button {
          display: flex;
          align-items: center;
          gap: 0 3px;
          font-size: 11px;
          font-weight: 800;
          color: var(--mode-Background);
          [data-theme="dark"] & {
            color: var(--mode-font_key);
          }
          &.menu-button {
            img {
              width: 10px;
            }
          }
        }
      }
    }

    .course-section {
      position: relative;
      width: 100%;
      height: calc((100% - 5px - 13px) / 2);
      min-height: 148px;
      margin-bottom: 5px;
      background: var(--mode-Background);
      border-radius: 8px;
      .course-section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 33px;
        padding: 0 14px 0 10px;
        background-color: var(--mode-color3);
        border-radius: 8px 8px 0 0;
        .course-section-title {
          display: flex;
          align-items: center;
          gap: 7px;
          .course-color {
            width: 14px;
            height: 14px;
            border-radius: 50%;
          }
          .course-name {
            color: var(--MOBILE-admin-Grayscale4, #666);
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -0.4px;
            [data-theme="dark"] & {
              color: var(--mode-font_key);
            }
          }
          .course-teams-state {
            color: var(--MOBILE-admin-Grayscale4, #666);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.36px;
            word-break: break-all;
            [data-theme="dark"] & {
              color: var(--mode-font_key);
            }
          }
        }
        .course-standby-info-wrap {
          display: flex;
          align-items: center;
          gap: 5px;
          .standby-button {
            position: relative;
            width: 22px;
            height: 22px;
            border-radius: 5px;
            background-color: var(--mode-Background);
            box-shadow: 0 0 5px 0 #666666;
            &::before {
              position: absolute;
              top: 50%;
              left: 50%;
              content: "";
              display: block;
              width: 7px;
              height: 7px;
              margin-top: -7px;
              border-left: 2px solid var(--mode-font_key);
              border-bottom: 2px solid var(--mode-font_key);
              transform: translateX(-50%) rotate(-45deg);
            }
          }
        }
      }
    }

    .hole-list-wrap {
      position: relative;
      height: calc(100% - 33px);
      .hole-list {
        position: absolute;
        bottom: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 20px;
        .hole-item {
          position: relative;
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &-name {
            position: absolute;
            bottom: 75px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 3px;
            border-bottom: 0.5px solid var(--mode-color2);
            color: var(--mode-gray2);
            text-align: center;
            font-size: 10px;
            font-weight: 900;
            letter-spacing: -0.2px;
            line-height: 1;
            white-space: nowrap;
            strong {
              font-size: 12px;
              color: var(--mode-darkgray);
              line-height: 1;
              [data-theme="dark"] & {
                color: var(--mode-font_key);
              }
            }
          }
          &-line {
            width: 100%;
            height: 5px;
            border-radius: 5px;
            background: var(--MOBILE-admin-Grayscale2, #eee);
          }
          .buggy-wrapper {
            z-index: 1;
            position: absolute;
            bottom: -6px;
            transform: translateX(-50%);
            .dottedLine {
              position: absolute;
              left: 50%;
              bottom: calc(100% + 2px);
              width: 2px;
              transform: translateX(-50%);
              background-image: linear-gradient(
                to bottom,
                #888 20%,
                transparent 20%,
                transparent 40%,
                #888 40%,
                #888 60%,
                transparent 60%,
                transparent 80%,
                #888 80%
              );
              background-size: 2px 8px;
              background-repeat: repeat-y;
              z-index: 1;
            }
            .bookingNm {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              font-weight: 800;
              font-size: 11px;
              color: var(--mode-gray1);
              white-space: nowrap;
            }
            .tagGroup {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 19px;
              height: 19px;
              border-radius: 5px;
              border: 2px solid var(--mode-error);
              background-color: rgba(230, 43, 43, 0.5);
            }
            .tagSelf {
              z-index: 2;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 10px;
              height: auto;
            }
            .buggy {
              position: relative;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 4px solid;
              background-color: #fff;
              box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
              box-sizing: border-box;
              cursor: pointer;
            }
            .tagList {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              display: flex;
              align-items: center;
              gap: 1px;
              padding: 0;
              li {
                width: 12px;
                height: 12px;
                border-radius: 5px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                overflow: hidden;
                &.level1 {
                  width: 15px;
                  height: 15px;
                }
                &.FIRSTTEAMF1 {
                  background-image: url("../../../../public/assets/image/tag/tag_first_team_f1.svg");
                }
                &.FIRSTTEAMF2 {
                  background-image: url("../../../../public/assets/image/tag/tag_first_team_f2.svg");
                }
                &.FIRSTTEAMF3 {
                  background-image: url("../../../../public/assets/image/tag/tag_first_team_f3.svg");
                }
                &.LASTTEAMF1 {
                  background-image: url("../../../../public/assets/image/tag/tag_last_team_l1.svg");
                }
                &.LASTTEAMF2 {
                  background-image: url("../../../../public/assets/image/tag/tag_last_team_l2.svg");
                }
                &.LASTTEAMF3 {
                  background-image: url("../../../../public/assets/image/tag/tag_last_team_l3.svg");
                }
                &.VIP {
                  background-image: url("../../../../public/assets/image/tag/tag_vip.svg");
                }
                &.TOWPERSONS {
                  background-image: url("../../../../public/assets/image/tag/tag_two_persons.svg");
                }
                &.THREEPERSONS {
                  background-image: url("../../../../public/assets/image/tag/tag_three_persons.svg");
                }
                &.FIVEPERSONS {
                  background-image: url("../../../../public/assets/image/tag/tag_five_persons.svg");
                }
                &.EDUCATION {
                  background-image: url("../../../../public/assets/image/tag/tag_education.svg");
                }
                &.COMP {
                  background-image: url("../../../../public/assets/image/tag/tag_comp.svg");
                }
                &.GREENCHECK {
                  background-image: url("../../../../public/assets/image/tag/tag_green_check.svg");
                }
                &.TOPDRESSING {
                  background-image: url("../../../../public/assets/image/tag/tag_topdressing.svg");
                }
                &.ADD9HOLES {
                  background-image: url("../../../../public/assets/image/tag/tag_add_9_holes.svg");
                }
                &.MARSHAL {
                  background-image: url("../../../../public/assets/image/tag/tag_marshal.svg");
                }
                &.TIMEDELAY {
                  background-image: url("../../../../public/assets/image/tag/tag_delay.svg");
                }
              }
            }
          }
          &:not(:last-of-type)::after {
            position: absolute;
            right: -7px;
            bottom: 1px;
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #959595;
          }
        }
      }
    }
    .floating-menu-wrap {
      position: fixed;
      bottom: calc(env(safe-area-inset-bottom) + 20px);
      right: calc(env(safe-area-inset-right) + 12px);
      z-index: 110;
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      gap: 7px;
      .floating-menu-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 3px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px #1212124d;
        [data-theme="dark"] & {
          box-shadow: 0px 0px 5px 0px #fff;
        }
        span {
          font-size: 6px;
          white-space: nowrap;
          color: var(--mode-darkgray);
          font-weight: 500;
          [data-theme="dark"] & {
            color: var(--mode-font_key);
          }
        }
        &.map-button {
          background: var(--mode-keycolor)
            url("../../../../public/assets/image/icon-cart-whtie.svg") no-repeat center 7px / auto
            15px;
          span {
            color: var(--mode-Background);
            [data-theme="dark"] & {
              color: var(--mode-font_key);
            }
          }
        }
        &.holecup-button {
          background: var(--mode-gray3) url("../../../../public/assets/image/icon-holecup-dark.svg")
            no-repeat center 7px / auto 15px;
          [data-theme="dark"] & {
            background-image: url("../../../../public/assets/image/icon-holecup-white.svg");
          }
        }
        &.menu-button {
          background: var(--mode-gray3) url("../../../../public/assets/image/icon-menu-dark.svg")
            no-repeat center 7px / auto 13px;
          [data-theme="dark"] & {
            background-image: url(../../../../public/assets/image/icon-menu-white.svg);
          }
        }
      }
    }
  }
}
