.monitoring {
  &-container {
    width: 100%;
    position: relative;
    background: var(--mode-Background);
    height: 100%;
    overflow: scroll;
    padding-top: 45px;
    .monitoring-header {
      z-index: 5;
      position: fixed;
      top: 0; 
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 22px;
      width: 100%;
      height: 45px;
      padding: 0 10px;
      background: var(--mode-Background);
      .course-list-wrap {
        width: calc(100% - 22px - 130px);
        height: 28px;
        border: 3px solid var(--mode-color1);
        border-radius: 28px;
        background: var(--mode-color1);
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.30);
        z-index: 2;
        overflow: hidden;
        .course-list {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 7px;
          max-width: 100%;
          overflow: auto;
          .course-name {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            height: 22px;
            padding: 0 10px;
            border: none;
            border-radius: 22px;
            background-color: var(--mode-Background);
            white-space: nowrap;
            color: var(--mode-font_key);
            .course-color {
              width: 10px;
              height: 10px;
              border-radius: 10px;
            }
          }
        }
      }
      .monitoring-etc-menu {
        display: flex;
        align-items: center;
        justify-content: center ;
        gap: 0 20px;
        width: 130px;
        height: 28px;
        border-radius: 28px;
        background: var(---mode-gray3);
        border: 1px solid var(--mode-gray1);
        box-sizing: border-box;
        [data-theme="dark"] & {
          background: var(--mode-color1);
          border-color: var(--mode-color1);
        }
        &-button {
          display: flex;
          align-items: center;
          gap: 0 3px;
          color: var(--mode-darkgray);
          font-size: 11px;
          font-weight: 800;
          [data-theme="dark"] & {
            color: var(--mode-font_key);
          }
        }
      }
    }

    .course-section {
      width: 100%;
      min-height: calc(100% - 42px - 18px - 18px);
      padding: 20px 32px;
      background: var(--mode-Background);
      margin-bottom: 20px;
       .course-title {
        display: flex;
        align-items: center;
        gap: 7px;
        .course-color {
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }
        .course-name {
          color: var(--MOBILE-admin-Grayscale4, #666);
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          letter-spacing: -0.4px;
        }
        .course-teams-state {
          color: var(--MOBILE-admin-Grayscale4, #666);
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: -0.36px;
        }
      }
    }

    .hole-list-wrap {
      padding: 98px 0 106px;
      .hole-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        .hole-item {
          position: relative;
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &-name {
            margin-bottom: 3px;
            color: #D4D4D4;
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.2px;
          }
          &-line {
            width: 100%;
            height: 5px;
            border-radius: 5px;
            background: var(--MOBILE-admin-Grayscale2, #EEE);
          }
          &-buggy {
            position: absolute;
            bottom: 0;
            margin-bottom: -4px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            transform: translateX(-6px);
            .line-wrap {
              position: relative;
              .cir1 {
                position: relative;
                width: 8px;
                height: 8px;
                border: 2px solid #fff;
                border-radius: 50%;
                .in-cir1 {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  background: #005FCF;
                  opacity: 0.3;
                  z-index: -1;
                }
              }
              .line {
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                width: 2px;
                height: 22px;
                background: none;
                border-left : 2px dotted #005FCF;
                @at-root .down .line{
                  top: 14px;
                }
                @at-root .up .line {
                  bottom: 14px;
                }
              }
            }
            .buggy-name {
              position: absolute;
              left: 2px;
              color: var(--MOBILE-admin-Grayscale4, #666);
              font-size: 10px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.2px;
              white-space: nowrap;
              @at-root .down .buggy-name {
                top: 34px;
              }

              @at-root .up .buggy-name {
                bottom: 34px;
              }
              & > span {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                margin-right: 4px;
                margin-bottom: 1px;
              }
            }
            .tag-list {
              position: absolute;
              left: 10px;
              width: 66px;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              @at-root .down .tag-list {
                top: 49px;
              }
              @at-root .up .tag-list {
                bottom: 49px;
              }
              li {
                width: 15px;
                height: 15px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                &.marshall {
                  background-image: url("../../../../public/assets/image/tag/icon1.svg");
                }

                &.two-players {
                  background-image: url("../../../../public/assets/image/tag/icon2.svg");
                }

                &.three-players {
                  background-image: url("../../../../public/assets/image/tag/icon3.svg");
                }

                &.vip {
                  background-image: url("../../../../public/assets/image/tag/icon4.svg");
                }

                &.training {
                  background-image: url("../../../../public/assets/image/tag/icon5.svg");
                }

                &.group {
                  background-image: url("../../../../public/assets/image/tag/icon6.svg");
                }

                &.team-first-last {
                  background-image: url("../../../../public/assets/image/tag/icon7.svg");
                }

                &.team-first-first {
                  background-image: url("../../../../public/assets/image/tag/icon8.svg");
                }

                &.tag9 {
                  background-image: url("../../../../public/assets/image/tag/icon9.svg");
                }

                &.add-hole {
                  background-image: url("../../../../public/assets/image/tag/icon10.svg");
                }

                &.tag11 {
                  background-image: url("../../../../public/assets/image/tag/icon11.svg");
                }

                &.green-check {
                  background-image: url("../../../../public/assets/image/tag/icon12.svg");
                }

                &.tag13 {
                  background-image: url("../../../../public/assets/image/tag/icon13.svg");
                }

                &.tag14 {
                  background-image: url("../../../../public/assets/image/tag/icon14.svg");
                }

                &.team-second-first {
                  background-image: url("../../../../public/assets/image/tag/icon15.svg");
                }

                &.team-second-last {
                  background-image: url("../../../../public/assets/image/tag/icon16.svg");
                }
              }
            }
          }
          &:not(:last-of-type)::after {
            position: absolute;
            right: -7px;
            bottom: 1px;
            content:'';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #959595;
          }
        }
      }
    }
    .floating-menu-wrap {
      position: fixed;
      bottom: calc(env(safe-area-inset-bottom) + 20px);
      right: calc(env(safe-area-inset-right) + 13px);
      z-index: 5;
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      gap: 7px;
      .floating-menu-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 3px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        box-shadow: 0px 2px 7px 0px #0000004D;
        span {
          font-size: 6px;
          white-space: nowrap;
          color: var(--Light-mode-keycolor);
          font-weight: 500;
        }
        &.map-button {
           background: var(--Light-mode-keycolor) url("../../../../public/assets/image/icon-cart-whtie.svg") no-repeat center 7px / auto 15px;
           span {
            color: var(--Light-mode-Background);
          } 
        }
        &.holecup-button {
          background: var(--Light-mode-gray3) url("../../../../public/assets/image/icon-holecup-dark.svg") no-repeat center 7px / auto 15px;
          span {
            color: var(--Light-mode-darkgray);
          }
        }
        &.menu-button {
          background: var(--Light-mode-gray3) url("../../../../public/assets/image/icon-menu-dark.svg") no-repeat center 7px / auto 15px;
          span {
            color: var(--Light-mode-darkgray);
          }
        }
      }
    }
  }
}