.monitoring {
  &-container {
    width: 100%;
    position: relative;
    background: var(--MOBILE-admin-Grayscale2, #EEE);
    height: 100%;
    overflow: scroll;
    .message-button {
      position: fixed;
      left: 20px;
      bottom: 18px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: var(--MOBILE-admin-Keypurple, #2F0077) url("../../../../public/assets/image/icon-message.svg") no-repeat center / 24px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.30);
      z-index: 2;
    }

    .course-section {
      width: 100%;
      min-height: calc(100vh - 42px - 18px - 18px);
      padding: 20px 32px;
      background: var(--MOBILE-admin-Keywhite, #FFF);
      margin-bottom: 20px;
       .course-title {
        display: flex;
        align-items: center;
        gap: 7px;
        .course-color {
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }
        .course-name {
          color: var(--MOBILE-admin-Grayscale4, #666);
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          letter-spacing: -0.4px;
        }
        .course-teams-state {
          color: var(--MOBILE-admin-Grayscale4, #666);
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: -0.36px;
        }
      }
    }

    .hole-list-wrap {
      padding: 98px 0 106px;
      .hole-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        .hole-item {
          position: relative;
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &-name {
            margin-bottom: 3px;
            color: #D4D4D4;
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.2px;
          }
          &-line {
            width: 100%;
            height: 5px;
            border-radius: 5px;
            background: var(--MOBILE-admin-Grayscale2, #EEE);
          }
          &-buggy {
            position: absolute;
            bottom: 0;
            margin-bottom: -4px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            transform: translateX(-6px);
            .line-wrap {
              position: relative;
              .cir1 {
                position: relative;
                width: 8px;
                height: 8px;
                border: 2px solid #fff;
                border-radius: 50%;
                .in-cir1 {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  background: #005FCF;
                  opacity: 0.3;
                  z-index: -1;
                }
              }
              .line {
                position: absolute;
                left:50%;
                transform: translateX(-50%);
                width: 2px;
                height: 22px;
                background: none;
                border-left : 2px dotted #005FCF;
                @at-root .down .line{
                  top: 14px;
                }
                @at-root .up .line {
                  bottom: 14px;
                }
              }
            }
            .buggy-name {
              position: absolute;
              left: 2px;
              color: var(--MOBILE-admin-Grayscale4, #666);
              font-size: 10px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.2px;
              white-space: nowrap;
              @at-root .down .buggy-name {
                top: 34px;
              }

              @at-root .up .buggy-name {
                bottom: 34px;
              }
              & > span {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                margin-right: 4px;
                margin-bottom: 1px;
              }
            }
            .tag-list {
              position: absolute;
              left: 10px;
              width: 66px;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              @at-root .down .tag-list {
                top: 49px;
              }
              @at-root .up .tag-list {
                bottom: 49px;
              }
              li {
                width: 15px;
                height: 15px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                &.marshall {
                  background-image: url("../../../../public/assets/image/tag/icon1.svg");
                }

                &.two-players {
                  background-image: url("../../../../public/assets/image/tag/icon2.svg");
                }

                &.three-players {
                  background-image: url("../../../../public/assets/image/tag/icon3.svg");
                }

                &.vip {
                  background-image: url("../../../../public/assets/image/tag/icon4.svg");
                }

                &.training {
                  background-image: url("../../../../public/assets/image/tag/icon5.svg");
                }

                &.tag6 {
                  background-image: url("../../../../public/assets/image/tag/icon6.svg");
                }

                &.team-first-last {
                  background-image: url("../../../../public/assets/image/tag/icon7.svg");
                }

                &.team-first-first {
                  background-image: url("../../../../public/assets/image/tag/icon8.svg");
                }

                &.tag9 {
                  background-image: url("../../../../public/assets/image/tag/icon9.svg");
                }

                &.add-hole {
                  background-image: url("../../../../public/assets/image/tag/icon10.svg");
                }

                &.tag11 {
                  background-image: url("../../../../public/assets/image/tag/icon11.svg");
                }

                &.green-check {
                  background-image: url("../../../../public/assets/image/tag/icon12.svg");
                }

                &.tag13 {
                  background-image: url("../../../../public/assets/image/tag/icon13.svg");
                }

                &.tag14 {
                  background-image: url("../../../../public/assets/image/tag/icon14.svg");
                }

                &.team-second-first {
                  background-image: url("../../../../public/assets/image/tag/icon15.svg");
                }

                &.team-second-last {
                  background-image: url("../../../../public/assets/image/tag/icon16.svg");
                }
              }
            }
          }
          &:not(:last-of-type)::after {
            position: absolute;
            right: -7px;
            bottom: 1px;
            content:'';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #959595;
          }
        }
      }
    }

    .course-list-wrap {
      position: fixed;
      bottom: 18px;
      left: 72px;
      width: calc(100% - 42px - 10px - 20px - 20px);
      height: 42px;
      padding: 7px 10px;
      border-radius: 42px;
      background: rgba(36, 0, 90, 0.30);
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.30);
      z-index: 2;
      .course-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;
        max-width: 100%;
        overflow: auto;
        .course-name {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          height: 28px;
          padding: 0 10px;
          border: none;
          border-radius: 28px;
          background-color: #fff;
          .course-color {
            width: 10px;
            height: 10px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}