.monitoring {
  &-container {
    width: 100%;
    position: relative;
    background: var(--mode-Background);
    height: 100%;
    overflow: scroll;
    padding: 45px 10px 13px;
    .monitoring-header {
      z-index: 5;
      position: fixed;
      top: 0; 
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 22px;
      width: 100%;
      height: 45px;
      padding: 0 10px;
      background: var(--mode-Background);
      .course-list-wrap {
        width: calc(100% - 22px - 130px);
        height: 28px;
        border: 3px solid var(--mode-color1);
        border-radius: 28px;
        background: var(--mode-color1);
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.30);
        z-index: 2;
        overflow: hidden;
        .course-list {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 7px;
          max-width: 100%;
          overflow: auto;
          .course-name {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            height: 22px;
            padding: 0 10px;
            border: none;
            border-radius: 22px;
            background-color: var(--mode-Background);
            white-space: nowrap;
            color: var(--mode-font_key);
            .course-color {
              width: 10px;
              height: 10px;
              border-radius: 10px;
            }
          }
        }
      }
      .monitoring-etc-menu {
        display: flex;
        align-items: center;
        justify-content: center ;
        gap: 0 20px;
        width: 130px;
        height: 28px;
        border-radius: 28px;
        background: var(---mode-gray3);
        border: 1px solid var(--mode-gray1);
        box-sizing: border-box;
        [data-theme="dark"] & {
          background: var(--mode-color1);
          border-color: var(--mode-color1);
        }
        &-button {
          display: flex;
          align-items: center;
          gap: 0 3px;
          color: var(--mode-darkgray);
          font-size: 11px;
          font-weight: 800;
          [data-theme="dark"] & {
            color: var(--mode-font_key);
          }
        }
      }
    }

    .course-section {
      position: relative;
      width: 100%;
      height: calc((100% - 5px - 13px) /2);
      min-height: 148px;
      margin-bottom: 5px;
      background: var(--mode-Background);
      border-radius: 8px;
      .course-section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 33px;
        padding: 0 14px 0 10px;
        background-color: var(--mode-color3);
        border-radius: 8px 8px 0 0;
        .course-section-title {
          display: flex;
          align-items: center;
          gap: 7px;
          .course-color {
            width: 14px;
            height: 14px;
            border-radius: 50%;
          }
          .course-name {
            color: var(--MOBILE-admin-Grayscale4, #666);
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -0.4px;
          }
          .course-teams-state {
            color: var(--MOBILE-admin-Grayscale4, #666);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.36px;
            word-break: break-all;
          }
        }
        .course-standby-info-wrap {
          display: flex;
          align-items: center;
          gap: 5px;
          .standby-button {
            position: relative;
            width: 22px;
            height: 22px;
            border-radius: 5px;
            background-color: var(--mode-Background);
            box-shadow: 0 0 5px 0 #666666;
            &::before {
              position: absolute;
              top: 50%;
              left: 50%;
              content: '';
              display: block;
              width: 7px;
              height: 7px;
              margin-top: -7px;
              border-left: 2px solid var(--mode-font_key);
              border-bottom: 2px solid var(--mode-font_key);
              transform: translateX(-50%) rotate(-45deg);
            }
          }
        }
      }
    }

    .hole-list-wrap {
      position: relative;
      height: calc(100% - 33px);
      .hole-list {
        position: absolute;
        bottom: 29px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 20px;
        .hole-item {
          position: relative;
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &-name {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 3px;
            color: var(--mode-gray2);
            text-align: center;
            font-size: 10px;
            font-weight: 900;
            letter-spacing: -0.2px;
            line-height: 1;
            white-space: nowrap;
            strong {
              font-size: 12px;
              color: var(--mode-darkgray);
              line-height: 1;
            }
          }
          &-line {
            width: 100%;
            height: 5px;
            border-radius: 5px;
            background: var(--MOBILE-admin-Grayscale2, #EEE);
          }
          &-buggy {
            position: absolute;
            bottom: 0;
            margin-bottom: -4px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            transform: translateX(-6px);
            .line-wrap {
              position: relative;
              .cir1 {
                position: relative;
                width: 8px;
                height: 8px;
                border: 2px solid #fff;
                border-radius: 50%;
                .in-cir1 {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  background: #005FCF;
                  opacity: 0.3;
                  z-index: -1;
                }
              }
              .line {
                position: absolute;
                left:50%;
                bottom: 14px;
                transform: translateX(-50%);
                width: 2px;
                height: 22px;
                background: none;
                border-left : 2px dotted #005FCF;
              }
            }
            .buggy-name {
              position: absolute;
              left: 2px;
              bottom: 34px;
              color: var(--MOBILE-admin-Grayscale4, #666);
              font-size: 10px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.2px;
              white-space: nowrap;
              & > span {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                margin-right: 4px;
                margin-bottom: 1px;
              }
            }
            .tag-list {
              position: absolute;
              left: 10px;
              bottom: 49px;
              width: 66px;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              li {
                width: 12px;
                height: 12px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                &.level1 {
                  width: 15px;
                  height: 15px;
                }
                &.FIRSTTEAMF1 {
                  background-image: url("../../../../public/assets/image/tag/tag_first_team_f1.svg");
                }
                &.FIRSTTEAMF2 {
                  background-image: url("../../../../public/assets/image/tag/tag_first_team_f2.svg");
                }
                &.FIRSTTEAMF3 { 
                  background-image: url("../../../../public/assets/image/tag/tag_first_team_f3.svg");
                }
                &.LASTTEAMF1 {
                  background-image: url("../../../../public/assets/image/tag/tag_last_team_l1.svg");
                }
                &.LASTTEAMF2 {    
                  background-image: url("../../../../public/assets/image/tag/tag_last_team_l2.svg");
                }
                &.LASTTEAMF3 {
                  background-image: url("../../../../public/assets/image/tag/tag_last_team_l3.svg");
                }
                &.VIP {     
                  background-image: url("../../../../public/assets/image/tag/tag_vip.svg");
                }
                &.TOWPERSONS {
                  background-image: url("../../../../public/assets/image/tag/tag_two_persons.svg");
                }
                &.THREEPERSONS {  
                  background-image: url("../../../../public/assets/image/tag/tag_three_persons.svg");
                }
                &.FIVEPERSONS {
                  background-image: url("../../../../public/assets/image/tag/tag_five_persons.svg");
                }
                &.EDUCATION {   
                  background-image: url("../../../../public/assets/image/tag/tag_education.svg");
                }
                &.COMP {
                  background-image: url("../../../../public/assets/image/tag/tag_comp.svg");
                }
                &.GREENCHECK {
                  background-image: url("../../../../public/assets/image/tag/tag_green_check.svg");
                }
                &.TOPDRESSING {
                  background-image: url("../../../../public/assets/image/tag/tag_topdressing.svg");
                }
                &.ADD9HOLES {
                  background-image: url("../../../../public/assets/image/tag/tag_add_9_holes.svg");
                }
                &.MARSHAL {
                  background-image: url("../../../../public/assets/image/tag/tag_marshal.svg");
                }
                &.TIMEDELAY {
                  background-image: url("../../../../public/assets/image/tag/tag_delay.svg");
                }
              }
            }
          }
          &:not(:last-of-type)::after {
            position: absolute;
            right: -7px;
            bottom: 1px;
            content:'';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #959595;
          }
        }
      }
    }
    .floating-menu-wrap {
      position: fixed;
      bottom: calc(env(safe-area-inset-bottom) + 20px);
      right: calc(env(safe-area-inset-right) + 13px);
      z-index: 5;
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      gap: 7px;
      .floating-menu-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 3px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        box-shadow: 0 2px 7px 0 #0000004D;
        span {
          font-size: 6px;
          white-space: nowrap;
          color: var(--Light-mode-keycolor);
          font-weight: 500;
        }
        &.map-button {
           background: var(--Light-mode-keycolor) url("../../../../public/assets/image/icon-cart-whtie.svg") no-repeat center 7px / auto 15px;
           span {
            color: var(--Light-mode-Background);
          } 
        }
        &.holecup-button {
          background: var(--Light-mode-gray3) url("../../../../public/assets/image/icon-holecup-dark.svg") no-repeat center 7px / auto 15px;
          span {
            color: var(--Light-mode-darkgray);
          }
        }
        &.menu-button {
          background: var(--Light-mode-gray3) url("../../../../public/assets/image/icon-menu-dark.svg") no-repeat center 7px / auto 15px;
          span {
            color: var(--Light-mode-darkgray);
          }
        }
      }
    }
  }
}