@import '@/styles/common/mixins.scss';

.assignPage {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.backButton {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 16px;
}

.title {
  font-size: 38px;
  font-weight: 600;
}

.tableNumber {
  font-size: 40px;
  font-weight: 600;
}

.secondaryButton {
  margin-left: auto;
  background: #6600AF;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 6px 20px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 22px 52px 0;
  display: flex;
  flex-direction: column;
}

.tableHeader {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #444444;
  height: 83px;
}

.tableBody {
  flex: 1;
  overflow-y: auto;
  border-bottom: 1px solid #7B7B7B;
}

.tableRow {
  display: flex;
  align-items: center;
  height: 94px;
  border-bottom: 1px solid #7B7B7B;
  background: white;
  cursor: pointer;
  width: 100%;
  padding: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}

.selectedRow {
  background: #ECE6F4;
}

.colSelect {
  width: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #444444;
}

.colTime {
  width: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #1F1F1F;
}

.colPlayers {
  width: 864px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  font-size: 30px;
  color: #1F1F1F;
  text-align: center;
}

.colCaddy {
  width: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #1F1F1F;
}

.colGroup {
  width: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #1F1F1F;
}

.radio {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 4px solid #444444;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.radioOn::after {
  content: '';
  width: 18px;
  height: 18px;
  background: #444444;
  border-radius: 50%;
}

.radioOff::after {
  content: '';
}

.emptyState {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #959595;
}

.footer {
  padding: 20px 0 40px;
  display: flex;
  justify-content: center;
}

.primaryButton {
  width: 350px;
  height: 84px;
  background: #6600FF;
  border-radius: 30px;
  color: white;
  border: none;
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;
}
