@import '@/styles/common/mixins.scss';

.mainPage {
  width: 100%;
  height: 100%;
  position: relative;
  background: #F9F9F9;
  overflow: hidden;
}

.contentArea {
  width: 100%;
  height: calc(100% - 100px);
  position: relative;
  padding: 40px 40px 0;

  @include tablet {
    height: calc(100% - 80px);
  }
}

.tableLayoutContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}