@import '../../common/mixins';

.loungeContainer {
  display: flex;
  height: 100vh;
  background: #f5f5f5;

  --scroll-button-width: 2.8125rem;
  --scroll-button-height: 22.625rem;
  --scroll-button-bg-width: 2.8125rem;
  --scroll-button-bg-height: 22.625rem;
  --scroll-button-icon-width: 2.016rem;
  --scroll-button-icon-height: 1.161rem;
  --scroll-button-icon-left: 1.973rem;
  --scroll-button-icon-top: 10.133rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 6.625rem);
  background: white;
  @include tablet {
    width: calc(100% - 5rem);
  }
}

.infoCardContainer {
  padding: 1.25rem 1.875rem;
  display: flex;
  gap: 2.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  > * {
    flex-shrink: 0;
  }
}

.emptyContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

  p {
    font-size: 1.125rem;
    color: #666;
  }
}

.scrollButtonWrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 12.5rem);
}

.scrollButton {
  position: absolute;
  width: 10rem;
  height: 100%;
  background: linear-gradient(90deg, #F9F9F9 25%, rgba(249, 249, 249, 0) 100%);
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.3s ease;
  top: 0;
  display: flex;
  align-items: center;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
    transform: rotate(180deg);
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.scrollButtonContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.scrollButtonBackground {
  width: 3rem;
  height: 23rem;
  position: absolute;
  transform: rotate(-360deg);
  transform-origin: top left;
  background: #F3F3F3;
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  border-right: 0.0625rem #D9D9D9 solid;
  display: flex;
  align-items: center;
  justify-content: center;
}