.splash {
  &-container {
    position:relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &-bg {
    overflow:hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(236, 151, 255, 0.30) 0%, rgba(236, 151, 255, 0.00) 100%), linear-gradient(0deg, rgba(60, 0, 255, 0.20) 0%, rgba(60, 0, 255, 0.20) 100%), #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  &-ribbon {
    width: 100%;
    min-width: 360px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    //svg:nth-child(1) {
    //    animation: ani-ribbon 0.6s 0.3s forwards;
    //    clip-path: inset(0 100% 0 0);
    //}
    //svg:nth-child(2) {
    //  z-index: -1;
    //  position:absolute;
    //  right: -9px;
    //  top: 185px;
    //  animation: ani-ribbon 0.2s 0.9s forwards;
    //  clip-path: inset(0 0 100% 0);
    //}
    //svg:nth-child(3) {
    //  z-index: -1;
    //  position:absolute;
    //  right: 0;
    //  top: 314px;
    //  animation: ani-ribbon 0.8s 1.1s forwards;
    //  clip-path: inset(0 0 100% 0);
    //}

    background: url("../../../public/assets/image/ribbon.png") no-repeat 0 0 / 100% auto;
    svg {
      display: none;
    }
    @media screen and (min-width: 361px) {
      svg {
        display: none;
      }
      background: url("../../../public/assets/image/ribbon.png") no-repeat 0 0 / 100% auto;
    }
  }

  &-ball {
    width: 175.998px;
    height: 166.464px;
    transform: rotate(2.444deg);
    flex-shrink: 0;
    position: absolute;
    left: -2px;
    top: 54px;
    z-index: 2;
    background: url("../../../public/assets/image/ball.png") no-repeat left top / contain;

  }
  &-txt {
    position:absolute;
    bottom:14px;
    color: var(--mobile-admin-key-white, #FFF);
    text-align: center;
    text-shadow: 0px -11px 25px rgba(0, 0, 0, 0.30);
    font-family: var(--font-lexend-exa), sans-serif;
    font-size: 110px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -8.8px;
    z-index: 1;
    p {
      &:first-child {
        float:left;
        font-weight: 100;
      }
      &:last-child {
        float:right;
        margin-top: -38px;
        padding-right:20px;
        font-weight: 800;
      }
    }
    @media screen and (max-width: 359px) {
      font-size: clamp(5rem, 30vw, 25rem);
    }
  }
}

@keyframes ani-ribbon {
  to {
    clip-path: inset(0 0 0 0);
  }
}