@import '../common/mixins';

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
}

.mainContent {
  width: 100%;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 137px;
  background: #313246;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 40px;

  @include tablet {
    padding: 0 30px;
    height: 100px;
  }
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;

  @include tablet {
    font-size: 20px;
  }
}

.menuSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include tablet {
    margin-right: 0;
    gap: 35px;
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;

  p {
    font-size: 18px;
    color: #6b7280;
  }
}

.orderSuccessOverlay {
  position: fixed;
  inset: 0;
  background: rgba(18, 18, 18, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.orderSuccessModal {
  width: min(1009px, 90vw);
  height: min(462px, 70vh);
  background: white;
  border-radius: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 80px 40px 40px;
}

.orderSuccessHeader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(504px, 70vw);
  height: 82px;
  background: #6600FF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: 800;
}

.orderSuccessMessage {
  color: black;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.orderSuccessClose {
  width: 281px;
  height: 72px;
  border-radius: 20px;
  background: #D9D9D9;
  border: none;
  color: #666666;
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;
}
