@import '../common/mixins';

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
}

.mainContent {
  width: 100%;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 137px;
  background: #313246;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 40px;

  @include tablet {
    padding: 0 30px;
    height: 100px;
  }
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;

  @include tablet {
    font-size: 20px;
  }
}

.menuSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include tablet {
    margin-right: 0;
    gap: 35px;
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;

  p {
    font-size: 18px;
    color: #6b7280;
  }
}
