.message-container {
  height: 100%;
  background-color: var(--mode-Background);
  .head {
    position: relative;
    &-arrow {
      position: absolute;
      top: 18px;
      left: 12px;
      width: 42px;
      height: 40px;
      border: none;
      &:focus-visible {
        outline: none;
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 13px;
        height: 13px;
        margin-left: -7px;
        margin-top: -7px;
        content: "";
        display: block;
        border-radius: 2px;
        border-left: 4px solid var(--mode-gray1);
        border-top: 4px solid var(--mode-gray1);
        transform: rotate(-45deg);
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 77px;
      padding-left: 57px;
      color: var(--mode-darkgray);
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      [data-theme="dark"] & {
        color: var(--mode-gray1);
      }
    }
  }

  .content {
    height: calc(100% - 77px);
    padding: 0 25px 30px;

    .message-desc {
      margin-bottom: 28px;
      color: var(--mode-font_key);
      font-size: 20px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0.4px;
    }

    .select-content-inner {
      display: flex;
      flex-direction: column;
      gap: 32px;
      height: calc(100% - 152px);
      overflow: auto;
    }

    .select-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .select-title,
    .title {
      margin-bottom: 10px;
      color: var(--mode-gray1);
      font-size: 10px;
      font-weight: 700;
      letter-spacing: -0.2px;
    }

    .select-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 5px 12px;

      label {
        input.select-item {
          display: none;

          & + span.select-label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            padding: 0 15px;
            border-radius: 32px;
            background: var(--mode-gray3);
            color: var(--mode-gray1);
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.32px;
          }

          &:checked + span.select-label {
            background: var(--mode-color1);
            color: var(--mode-keycolor);
            font-weight: 700;
            [data-theme="dark"] & {
              background: var(--mode-color1);
              color: var(--mode-font_key);
            }
          }
        }
      }
    }

    .no-list {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: var(--mode-gray1);
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .confirm-button {
      position: fixed;
      bottom: calc(30px + env(safe-area-inset-bottom));
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 50px);
      height: 50px;
      border-radius: 50px;
      color: var(--mode-Background);
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.4px;
      background: var(--mode-keycolor);
      border: none;
      &:focus-visible {
        outline: none;
      }
      [data-theme="dark"] & {
        color: var(--mode-font_key);
      }
      &:disabled {
        background: var(--mode-color1);
        [data-theme="dark"] & {
          color: var(--mode-font_key);
        }
      }
    }
    &.step2 {
      .message-desc {
        margin-bottom: 8px;
      }
      & > div:first-of-type {
        margin-bottom: 7px;
      }
      & > div:nth-of-type(2) {
        margin-bottom: 16px;
      }
    }
  }
}
