.booking-detail-popup {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &-inner {
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
    max-width: 300px;
    max-height: calc(100% - 40px);
    border-radius: 15px;
    background: var(--mode-Background);
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #ffffff;
    .booking-name {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      height: 45px;
      padding: 15px 30px 5px;
      font-weight: 700;
      font-size: 20px;
      color: var(--mode-font_key);
      line-height: 25px;
      background-color: var(--mode-Background);
      .booking-name-text {
        display: inline-block;
        max-width: calc(100% - 50px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .booking-teeOff {
        display: inline-block;
        width: 50px;
        padding-left: 10px;
        font-weight: 400;
        font-size: 16px;
        color: var(--mode-gray1);
      }
    }
    .booking-detail-scroll-wrapper {
      height: calc(100% - 45px);
      overflow: auto;
      padding: 0 30px 20px;
      box-sizing: border-box;
      .booking-player-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 15px;
        margin-bottom: 13px;
        .booking-player-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0 5px;
          height: 20px;
          border-bottom: 1px solid var(--mode-font_key);
          span {
            display: block;
            padding: 0 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 15px;
            color: var(--mode-font_key);
          }
        }
      }
      .booking-detail-info-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        .booking-detail-info-item {
          border-radius: 5px;
          background-color: var(--mode-gray3);
          padding: 8px 10px;
          &-title {
            font-weight: 500;
            font-size: 12px;
            color: var(--mode-gray1);
            line-height: 15px;
          }
          &-desc {
            font-weight: 500;
            font-size: 16px;
            color: var(--mode-font_key);
            line-height: 20px;
          }
        }
      }
    }
  }
}
