.course-list-wrap {
  position: fixed;
  bottom: 18px;
  left: 72px;
  width: calc(100vw - 42px - 10px - 20px - 20px);
  height: 42px;
  padding: 7px 10px;
  border-radius: 42px;
  background: rgba(36, 0, 90, 0.30);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.30);
  .course-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    max-width: 100%;
    overflow: auto;
    .course-name {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      height: 28px;
      padding: 0 10px;
      border: none;
      border-radius: 28px;
      background-color: #fff;
      .course-color {
        width: 10px;
        height: 10px;
        border-radius: 10px;
      }
    }
  }
}