.standby {
  &-container {
    .dim {
      position:fixed;
      top: 0;
      left: 0;
      content: '';
      display: none;
      width: 100%;
      height: 100%;
      background: rgba(18, 18, 18, 0.30);
    }
    &.open .dim {
      display: block;
    }
  }
  &-inner {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 1000;
    width: calc(100% - 56px);
    height: 100%;
    background: #fff;
    border-radius: 10px 0 0 10px;
    transition: all .2s;
    @at-root .open & {
      left: calc(56px - env(safe-area-inset-top));
      z-index: 1002;
    }
    .tab-wrapper {
      height: 100%;
      padding: 16px 20px 16px 23px;
      .tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
        border-bottom: 0.25px solid var(--MOBILE-admin-Keypurple, #2F0077);
        margin-bottom: 9px;
        .tab {
          height: 19px;
          color: var(--MOBILE-admin-Keypurple, #2F0077);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: -0.24px;
          padding: 0 2px;
          line-height: 19px;

          &.active {
            position: relative;
            font-weight: 700;
            border-bottom: 1.5px solid var(--MOBILE-admin-Keypurple, #2F0077);
          }
        }
      }

      .tab-content {
        width: 100%;
        height: calc(100% - 19px - 9px);
        border-top: 0.25px dashed #9F8BBC;
        .standby {
          display: flex;
          align-items: center;
          height: 50%;
          border-bottom: 0.25px dashed #9F8BBC;
          &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 100%;
            background: var(--MOBILE-admin-Grayscale1, #F5F5F5);
            color: var(--MOBILE-admin-Keyblack, #121212);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.28px;
          }
          &-buggy {
            display: flex;
            align-items: center;
            width: calc(100% - 70px);
            height: 100%;
            padding: 13px;
            &-list {
              overflow: scroll;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 5px 15px;
              flex-wrap: wrap;
              max-height: 100%;
              color: var(--MOBILE-admin-Grayscale4, #666);
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: -0.36px;
            }
          }
        }
      }
    }
    .floating-button {
      position: absolute;
      top: 74px;
      left: -46px;
      width: 47px;
      height: 48px;
      border-radius: 15px 0 0 15px;
      background: var(--MOBILE-admin-Keypurple, #2F0077) url("../../../../public/assets/image/icon-cart.svg") no-repeat center / 24px;
      border: none;
      @at-root .open & {
        background-color: #fff;
      }
      & > span{
        display: none;
        @at-root .open & {
          display: block;
          position: absolute;
          left: 14px;
          width: 18px;
          height: 2px;
          border-radius: 5px;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          background-color: var(--MOBILE-admin-Keypurple, #2F0077);;
        }
        &:nth-of-type(1) {
          top: 18px;
          @at-root .open & {
            top: 23px;
            transform: rotate(45deg);
          }
        }
        &:nth-of-type(2) {
          top: 28px;
          @at-root .open & {
            top: 23px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}