.sos-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 2000;
  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
    max-width: 300px;
    height: 260px;
    max-height: calc(100% - 80px);
    border-radius: 15px;
    border: 1px solid var(--mode-error);
    background: var(--mode-Background);
    box-shadow: 0px 0px 20px 0px var(--mode-error);
    box-sizing: border-box;
    animation: blink-shadow 1.3s ease-in-out infinite;
  }
&-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
    color: var(--mode-error);
    font-size: 20px;
    font-weight: 700;
}
    &-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 6px 10px;
        height: calc(100% - 60px - 80px);
        overflow-y: auto;
        padding: 0 15px;
    }
    &-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 5px 0;
        width: calc((100% - 10px) / 2);
        border-bottom: 1px solid var(--mode-gray2);
        dt {
            font-weight: 500;
            font-size: 10px;
            color: var(--mode-gray1);
        }
        dd {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px 0;
            font-weight: 700;
            font-size: 18px;
            color: var(--mode-font_key);
        }
    }
    &-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }
  
}

// 깜빡이는 효과를 위한 keyframes 애니메이션
@keyframes blink-shadow {
    0%, 100% { box-shadow: 0px 0px 20px 0px var(--mode-error); }
    50% { box-shadow: 0px 0px 20px 0px rgba(220, 0, 0, 0); }
}