.standby {
  &-container {
    .dim {
      z-index: 1000;
      position: fixed;
      top: 0;
      left: 0;
      content: "";
      display: none;
      width: 100%;
      height: 100%;
      background: rgba(18, 18, 18, 0.3);
    }
    &.open .dim {
      display: block;
    }
  }
  &-inner {
    position: fixed;
    top: calc(100% + 46px);
    left: 40px;
    z-index: 1000;
    width: calc(100% - 80px);
    height: 0;
    background: var(--mode-Background);
    border-radius: 10px 10px 0 0;
    transition: all 0.2s;
    box-shadow: 0px -5px 10px 0px #ffffff40;
    @at-root .open & {
      height: calc(100% - 80px);
      top: calc(env(safe-area-inset-top) + 80px);
      z-index: 1002;
    }
    .tab-wrapper {
      height: 100%;
      padding: 16px 20px 16px 23px;
      .tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
        border-bottom: 0.25px solid var(--mode-font_key);
        margin-bottom: 9px;
        .tab {
          height: 19px;
          color: var(--mode-font_key);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: -0.24px;
          padding: 0 2px;
          line-height: 19px;

          &.active {
            position: relative;
            font-weight: 700;
            border-bottom: 1.5px solid var(--mode-font_key);
          }
        }
      }

      .tab-content {
        width: 100%;
        height: calc(100% - 19px - 9px);
        border-top: 0.25px dashed var(--mode-gray2);
        .standby {
          display: flex;
          align-items: center;
          height: 50%;
          border-bottom: 0.25px dashed var(--mode-gray2);
          &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 100%;
            background: var(--mode-color3);
            color: var(--mode-font_key);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.28px;
          }
          &-buggy {
            display: flex;
            align-items: center;
            width: calc(100% - 70px);
            height: 100%;
            padding: 13px;
            &-list {
              overflow: scroll;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 5px 0;
              flex-wrap: wrap;
              width: 100%;
              max-height: 100%;
              color: var(--mode-gray1);
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: -0.36px;
            }
            &-item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: calc(100% / 4);
              padding: 0 8px;
              border-right: 1px solid var(--mode-gray1);
              &-name {
                display: flex;
                align-items: center;
                gap: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 3px;
                &-text {
                  font-weight: 700;
                  font-size: 13px;
                  color: var(--mode-gray1);
                }
              }
              &-time {
                font-weight: 500;
                font-size: 12px;
                color: var(--mode-gray1);
                white-space: nowrap;
              }
              .waitingItemCart {
                position: relative;
                .tagGroup {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 15px;
                  height: 15px;
                  transform: translate(-50%, -50%);
                  border-radius: 3px;
                }
                .outCourseCol {
                  position: relative;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  border: 1.5px solid #fff;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
      }
    }
    .close-button {
      position: absolute;
      top: -44px;
      right: 28px;
      width: 47px;
      height: 48px;
      border-radius: 15px 15px 0 0;
      border: none;
      background-color: var(--mode-Background);
      & > span {
        display: block;
        position: absolute;
        left: 14px;
        width: 18px;
        height: 2px;
        border-radius: 5px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        background-color: var(--mode-font_key);
        &:nth-of-type(1) {
          top: 23px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          top: 23px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
