@import '../../../styles/common/mixins';

.container {
  min-height: 500px;
  min-width: 910px;
  max-height: 785px;

  @include tablet {
    min-width: 680px;
    min-height: 375px;
    max-height: 590px;
  }
  position: relative;
  background: white;
  overflow: hidden;
  border-radius: 20px;
  outline: 1px #666666 solid;
  outline-offset: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    padding: 20px 70px;

    @include tablet {
      padding: 15px 52px;
    }

    .title {
      color: black;
      font-size: 30px;
      font-weight: 700;
      word-wrap: break-word;
      line-height: 37px;

      @include tablet {
        font-size: 22px;
        line-height: 28px;
      }
    }

    .closeButton {
      position: absolute;
      width: 23px;
      height: 23px;
      right: 25px;
      top: 25px;
      background: transparent;
      border: none;
      cursor: pointer;

      @include tablet {
        width: 17px;
        height: 17px;
        right: 19px;
        top: 19px;
      }
    }
  }

  .content {
    padding: 20px 70px;

    @include tablet {
      padding: 15px 52px;
    }

    .reasonList {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include tablet {
        gap: 12px;
      }

      &.multipleItems {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      &.singleItem {
        align-items: center;
      }

      .reasonButton {
        width: 100%;
        max-width: 300px;
        height: 60px;
        border-radius: 12px;
        outline: 0.80px #959595 solid;
        outline-offset: -0.80px;
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666666;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;

        @include tablet {
          height: 45px;
          font-size: 18px;
          border-radius: 9px;
        }

        .singleItem & {
          max-width: 300px;

          @include tablet {
            max-width: 225px;
          }
        }

        &:hover {
          background: rgba(102, 102, 102, 0.05);
        }

        &.selected {
          background: #001A9F;
          color: white;
          outline: 1px #0655F6 solid;
        }
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 30px 70px;

    @include tablet {
      padding: 22px 52px;
      gap: 12px;
    }

    .cancelButton {
      width: 213px;
      height: 54px;
      padding: 10px 20px;
      background: white;
      border-radius: 5px;
      outline: 1px #0655F6 solid;
      outline-offset: -1px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #001A9F;
      font-size: 22px;
      font-weight: 400;
      cursor: pointer;
      transition: background 0.2s;

      @include tablet {
        width: 160px;
        height: 40px;
        font-size: 16px;
        padding: 7px 15px;
      }

      &:hover {
        background: rgba(6, 85, 246, 0.05);
      }
    }

    .confirmButton {
      width: 213px;
      height: 54px;
      padding: 10px 20px;
      background: #001A9F;
      border-radius: 5px;
      outline: 1px #0655F6 solid;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 22px;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.2s;

      @include tablet {
        width: 160px;
        height: 40px;
        font-size: 16px;
        padding: 7px 15px;
      }

      &:hover {
        background: #001580;
      }
    }
  }
}
