.container {
  width: 740px;
  max-height: 90vh;
  position: relative;
  background: white;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.55);
  overflow: hidden;
  border-radius: 20px;
  outline: 1px #666666 solid;
  outline-offset: -1px;
  display: flex;
  flex-direction: column;

  .header {
    padding: 25px 66px;

    .title {
      color: black;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: #D9D9D9;
  }

  .content {
    padding: 25px 66px 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .inputGroup {
      display: flex;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;

      .input {
        flex: 1;
        height: 45px;
        padding-left: 20px;
        background: white;
        outline: 1px #D9D9D9 solid;
        outline-offset: -1px;
        border: none;
        color: #444444;
        font-size: 20px;
        font-weight: 400;

        &::placeholder {
          color: #959595;
        }

        &:focus {
          outline: 1px #7B7B7B solid;
          outline-offset: -1px;
        }
      }

      .addButton {
        width: 129px;
        height: 45px;
        background: #7B7B7B;
        border: none;
        color: #F3F3F3;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
          background: #6A6A6A;
        }
      }
    }

    .tableContainer {
      background: white;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .tableHeader {
        display: flex;
        height: 45px;
        background: #D9D9D9;
        border-bottom: 1px #959595 solid;
        align-items: center;

        .orderColumn,
        .contentColumn,
        .actionColumn {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .orderColumn {
          width: 70px;
        }

        .contentColumn {
          width: 436px;
        }

        .actionColumn {
          flex: 1;
        }

        .headerText {
          color: #444444;
          font-size: 18px;
          font-weight: 500;
        }
      }

      .tableBody {
        max-height: 405px;
        overflow-y: auto;

        .tableRow {
          display: flex;
          height: 45px;
          background: #F3F3F3;
          outline: 1px white solid;
          outline-offset: -1px;
          align-items: center;

          .orderColumn,
          .contentColumn,
          .actionColumn {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .orderColumn {
            width: 70px;
            background: #D9D9D9;
            height: 100%;
            border-top: 1px white solid;
            border-bottom: 1px white solid;

            .dragHandle {
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: grab;
              padding: 10px;

              &:active {
                cursor: grabbing;
              }
            }
          }

          .contentColumn {
            width: 436px;

            .contentText {
              color: #444444;
              font-size: 18px;
              font-weight: 700;
            }
          }

          .actionColumn {
            flex: 1;

            .deleteButton {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 6px;
              background: none;
              border: none;
              cursor: pointer;
              padding: 5px 10px;
              transition: opacity 0.2s;

              &:hover {
                opacity: 0.7;
              }

              .deleteText {
                color: #DC0000;
                font-size: 18px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .notice {
      text-align: right;
      color: #DC0000;
      font-size: 15px;
      font-weight: 400;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 30px;

    .saveButton {
      width: 213px;
      height: 54px;
      padding: 10px 20px;
      background: #7B7B7B;
      border-radius: 5px;
      border: 1px #959595 solid;
      color: white;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #6A6A6A;
      }
    }
  }
}
