.container {
  width: 739px;
  max-height: 90vh;
  position: relative;
  background: white;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.55);
  overflow: hidden;
  border-radius: 20px;
  outline: 1px #666666 solid;
  outline-offset: -1px;
  display: flex;
  flex-direction: column;

  .header {
    padding: 25px 66px;

    .title {
      color: black;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: #D9D9D9;
  }

  .content {
    padding: 25px 66px 30px;
    display: flex;
    flex-direction: column;
    gap: 17px;

    .inputSection {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;

      .input {
        width: 481px;
        height: 45px;
        padding-left: 20px;
        background: white;
        outline: 1px #D9D9D9 solid;
        outline-offset: -1px;
        border: none;
        color: #444444;
        font-size: 20px;
        font-weight: 400;

        &::placeholder {
          color: #959595;
        }
      }

      .addButton {
        flex: 1;
        height: 45px;
        background: #7B7B7B;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 1px #959595 solid;
        border-top: 1px #959595 solid;
        border-bottom: 1px #959595 solid;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
          background: #6B6B6B;
        }

        .buttonText {
          color: #F3F3F3;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .tableContainer {
      width: 610px;
      background: white;
      display: flex;
      flex-direction: column;

      .tableHeader {
        display: flex;
        align-items: center;
        height: 45px;
        background: #D9D9D9;
        overflow: hidden;
        border-bottom: 1px #959595 solid;

        .orderColumn,
        .contentColumn,
        .manageColumn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }

        .orderColumn {
          width: 70px;
        }

        .contentColumn {
          width: 436px;
        }

        .manageColumn {
          flex: 1;
        }

        .headerText {
          color: #444444;
          font-size: 18px;
          font-weight: 600;
        }
      }

      .tableBody {
        max-height: 251px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 9px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: #D9D9D9;
          border-radius: 5px;
        }

        .tableRow {
          display: flex;
          align-items: center;
          background: #F3F3F3;
          overflow: hidden;
          outline: 1px white solid;
          outline-offset: -1px;

          &:nth-child(even) {
            height: 52px;
          }

          &:nth-child(odd) {
            height: 51px;
          }

          .orderColumn,
          .contentColumn,
          .manageColumn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
          }

          .orderColumn {
            width: 70px;
            background: #D9D9D9;

            .dragHandle {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: grab;

              &:active {
                cursor: grabbing;
              }
            }
          }

          .contentColumn {
            width: 436px;

            .categoryName {
              color: #444444;
              font-size: 18px;
              font-weight: 700;
            }
          }

          .manageColumn {
            flex: 1;

            .deleteButton {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              background: none;
              border: none;
              cursor: pointer;
              transition: opacity 0.2s;

              &:hover {
                opacity: 0.7;
              }

              .deleteText {
                color: #DC0000;
                font-size: 18px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 30px;

    .cancelButton {
      width: 213px;
      height: 54px;
      padding: 10px 20px;
      background: white;
      border-radius: 5px;
      outline: 1px #0655F6 solid;
      outline-offset: -1px;
      border: none;
      color: #001A9F;
      font-size: 22px;
      font-weight: 400;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: rgba(6, 85, 246, 0.05);
      }
    }

    .confirmButton {
      width: 213px;
      height: 54px;
      padding: 10px 20px;
      background: #001A9F;
      border-radius: 5px;
      outline: 1px #0655F6 solid;
      border: none;
      color: white;
      font-size: 22px;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #001580;
      }
    }
  }
}
