@import '../../../styles/common/mixins';

.message {
  text-align: center;
  color: #1F1F1F;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;

  @include tablet {
    font-size: 19px;
    margin-bottom: 18px;
  }
}

.tableContainer {
  width: 100%;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .tableHeader {
    display: flex;
    height: 36px;
    background: #D9D9D9;
    border-bottom: 1px #959595 solid;
    align-items: center;

    @include tablet {
      height: 27px;
    }

    .codeColumn,
    .categoryColumn,
    .nameColumn,
    .priceColumn {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .codeColumn {
      width: 150px;
      border-top-left-radius: 10px;

      @include tablet {
        width: 112px;
      }
    }

    .categoryColumn {
      width: 120px;

      @include tablet {
        width: 90px;
      }
    }

    .nameColumn {
      width: 240px;

      @include tablet {
        width: 180px;
      }
    }

    .priceColumn {
      width: 160px;
      border-top-right-radius: 10px;

      @include tablet {
        width: 120px;
      }
    }

    .headerText {
      color: #444444;
      font-size: 18px;
      font-weight: 400;

      @include tablet {
        font-size: 13px;
      }
    }
  }

  .tableBody {
    max-height: 144px;
    overflow-y: auto;

    @include tablet {
      max-height: 108px;
    }

    .tableRow {
      display: flex;
      height: 36px;
      background: #F3F3F3;
      outline: 1px white solid;
      outline-offset: -1px;
      align-items: center;

      @include tablet {
        height: 27px;
      }

      .codeColumn,
      .categoryColumn,
      .nameColumn,
      .priceColumn {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .codeColumn {
        width: 150px;

        @include tablet {
          width: 112px;
        }
      }

      .categoryColumn {
        width: 120px;

        @include tablet {
          width: 90px;
        }
      }

      .nameColumn {
        width: 240px;

        @include tablet {
          width: 180px;
        }
      }

      .priceColumn {
        width: 160px;

        @include tablet {
          width: 120px;
        }
      }

      .cellText {
        color: black;
        font-size: 18px;
        font-weight: 600;

        @include tablet {
          font-size: 13px;
        }
      }
    }
  }
}
