@import '../../../common/mixins';

.menuManagement {
  width: 100%;
  height: 100%;

  .contentArea {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: white;

    .itemCount {
      color: #7B7B7B;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      @include tablet {
        font-size: 16px;
      }
    }

    .emptyState {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8c8c8c;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.01em;
    }
  }

  .scrollbar {
    position: absolute;
    right: 17px;
    top: 209px;
    width: 5px;
    height: 484px;
    background: #D9D9D9;
    border-radius: 5px;
  }
}
