
/*fonts*/

/*SUIT*/
@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 100;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-Thin.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-Thin.otf") format('opentype');
}
@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 300;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-Light.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-Light.otf") format('opentype');
}
@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 400;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-Regular.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 500;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-Medium.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-Medium.otf") format('opentype');
}
@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 600;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-SemiBold.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-SemiBold.otf") format('opentype');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 700;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-Bold.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 800;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-ExtraBold.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-ExtraBold.otf") format('opentype');
}

@font-face {
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 900;
  src:
          url("../../../public/assets/fonts/SUIT/SUIT-Heavy.ttf") format('truetype'),
          url("../../../public/assets/fonts/SUIT/SUIT-Heavy.otf") format('opentype');
}


/*LexendExa*/
@font-face {
  font-family: 'LexendExa';
  font-style: normal;
  font-weight: 100;
  src:
          url("../../../public/assets/fonts/LexendExa/LexendExa-Thin.ttf") format('truetype'),
          url("../../../public/assets/fonts/LexendExa/LexendExa-Thin.otf") format('opentype');
}

@font-face {
  font-family: 'LexendExa';
  font-style: normal;
  font-weight: 800;
  src:
          url("../../../public/assets/fonts/LexendExa/LexendExa-ExtraBold.ttf") format('truetype'),
          url("../../../public/assets/fonts/LexendExa/LexendExa-ExtraBold.otf") format('opentype');
}

/*sansation*/
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  src:
          url("../../../public/assets/fonts/sansation/Sansation_Bold.ttf") format('truetype')
}

/*nanum-gothic*/
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src:
          url("../../../public/assets/fonts/nanum-gothic/NanumGothicBold.ttf") format('truetype'),
          url("../../../public/assets/fonts/nanum-gothic/NanumGothicBold.otf") format('opentype');
}

/*Pretendard*/
@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../../../public/assets/fonts/Pretendard/PretendardVariable.ttf") format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src:
          url("../../../public/assets/fonts/Pretendard/Pretendard-Light.ttf") format('truetype'),
          url("../../../public/assets/fonts/Pretendard/Pretendard-Light.otf") format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  src:
          url("../../../public/assets/fonts/Pretendard/Pretendard-ExtraBold.ttf") format('truetype'),
          url("../../../public/assets/fonts/Pretendard/Pretendard-ExtraBold.otf") format('opentype');
}