
:root {
/*font*/
--main-font-family: 'SUIT';
--main-font-color: rgb(68, 68, 68);
--main-font-size: 15px;

/*color*/
--mobile-admin-keypurple: rgba(47, 0, 119, 1);
--mobile-admin-pointpurple: rgba(102, 0, 255, 1);
--mobile-admin-purplemiddle: rgba(115, 104, 198, 1);
--mobile-admin-purplelight: rgba(234, 230, 255, 1);
--mobile-admin-purplegray: rgba(210, 204, 219, 1);
--mobile-admin-keywhite: rgba(255, 255, 255, 1);
--mobile-admin-keyblack: rgba(18, 18, 18, 1);
--mobile-admin-grayscale1: rgba(245, 245, 245, 1);
--mobile-admin-grayscale2: rgba(238, 238, 238, 1);
--mobile-admin-grayscale3: rgba(180, 180, 180, 1);
--mobile-admin-grayscale4: rgba(102, 102, 102, 1);
--mobile-admin-pointyellow: rgba(255, 238, 0, 1);
--mobile-admin-pointred: rgba(255, 75, 75, 1);
--mobile-admin-redmiddle: rgba(255, 117, 117, 1);
--mobile-admin-redlight: rgba(255, 217, 217, 1);
--mobile-admin-pointblue: rgba(117, 124, 255, 1);

--secondary-purplescalelight: #ECE6F4;
--secondary-purplescalemiddle: #9081D8;
--Adminkey-keyblue: #0655F6;
--Adminkey-keybluedark: #001A9F;
--Adminkey-keygray: #666666;
--Adminkey-keydarkgray: #444444;
--Adminkey-keyblack: #1F1F1F;
--Adminkey-keydarknavy: #1B1C31;
--Adminkey-white: #FFFFFF;
--gray-grayscale1: #7B7B7B;
--gray-Grayscale2: #959595;
--gray-Grayscale3: #D9D9D9;
--gray-Grayscale4: #F3F3F3;
--unit-error: #DC0000;
--navy-dark-lightnavy3: #48487C;
--navy-dark-lightnavy1: #313246;
--navy-dark-lightnavy2: #3A3C56;
--Team-Team1: #E62B2B;
--Team-Team2: #00B752;
--Team-Team3: #5943C6;
--Team-Team4: #FFCC00;
--Team-Team5: #ED38F7;
--blue-lightblue2: #D4E6FA;
--blue-lightblue4: #F2F8FF;
--blue-lightblue5: #E6E9F1;
--blue-lightblue1: #C8E2FF;
--blue-lightblue3: #DDEBFB;

--Light-mode-Background: #FFFFFF;
--Light-mode-error: #DC0000;
--Light-mode-pointred: #FF4B4B;
--Light-mode-pointred2: #FF7575;
--Light-mode-pointred3: #FFD9D9;
--Light-mode-font_key: #121212;
--Light-mode-keycolor: #001A9F;
--Light-mode-darkgray: #444444;
--Light-mode-gray1: #666666;
--Light-mode-gray2: #B4B4B4;
--Light-mode-gray3: #F5F5F5;
--Light-mode-blue1: #C8E2FF;
--Light-mode-blue2: #DDEBFB;
--Light-mode-blue3: #F1F7FF;
}