@import "../styles/common/fonts";
@import "../styles/common/reset";
@import "../styles/common/variables";

// 단체팀 박스 컬러 클래스 추가
.teamBox1 {
  border: 2px solid var(--team-team1);
  background-color: rgba(230, 43, 43, 0.5);
}
.teamBox2 {
  border: 2px solid var(--team-team2);
  background-color: rgba(0, 183, 82, 0.5);
}
.teamBox3 {
  border: 2px solid var(--team-team3);
  background-color: rgba(128, 67, 198, 0.5);
}
.teamBox4 {
  border: 2px solid var(--team-team4);
  background-color: rgba(255, 204, 0, 0.5);
}
.teamBox5 {
  border: 2px solid var(--team-team5);
  background-color: rgba(237, 56, 247, 0.5);
}
