@import '../../common/mixins';

.customSelect {
  position: relative;
  width: 100%;

  .selectTrigger {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    outline: 1px #D9D9D9 solid;
    outline-offset: -1px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: outline 0.2s;
    @include tablet {
      height: 40px;
      padding: 0 10px;
    }

    &:hover {
      outline: 1px #959595 solid;
    }

    .selectedText {
      color: #1F1F1F;
      font-size: 22px;
      font-weight: 400;
      @include tablet {
        font-size: 16px;
      }
    }

    .placeholder {
      color: #959595;
      font-size: 22px;
      font-weight: 400;
    }

    .arrow {
      width: 14px;
      height: 7px;
      transition: transform 0.2s;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    background: #F3F3F3;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
    max-height: 240px;
    overflow-y: auto;

    .option {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666666;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: #6600FF;
        color: white;
      }

      &.selected {
        background: #3A3C56;
        color: white;
      }

      &:nth-child(even) {
        height: 29px;
      }
    }
  }
}
