@import '@/styles/common/mixins';

.tableShape {
    position: relative;
}

.innerContent {
    position: absolute;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

// Order variant specific styles
.orderVariant {
    position: absolute;

    @include touch-device {
        @include touch-target(44px);
    }

    &:active {
        transform: scale(0.98);
    }

    .innerContent {
        border-radius: 5px;
    }

    .border {
        height: 9px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.border {
    position: absolute;
    width: 76px;
    height: 11px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.borderTop {
    transform-origin: top left;
}

.borderBottom {
    transform: rotate(-180deg);
    transform-origin: top left;
}

.borderLeft {
    transform: rotate(-90deg);
    transform-origin: top left;
}

.borderRight {
    transform: rotate(90deg);
    transform-origin: top left;
}

// Order variant content styles
.time {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: 900;
    word-wrap: break-word;
}

.name {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: 800;
    word-wrap: break-word;
}

.group {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 10px;
    font-weight: 500;
    word-wrap: break-word;
}

.footer {
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .tableNumber {
        position: absolute;
        text-align: center;
        color: white;
        font-size: 13px;
        font-weight: 800;
        word-wrap: break-word;
    }
}

// Table type specific positioning - T4S
.timeT4S {
    top: 10px;
}

.timeT4S.timeWithReservation {
    left: 32px;
}

.timeT4S.timeWithoutReservation {
    left: 30px;
}

.nameT4S {
    left: 29px;
    top: 28px;
}

.groupT4S {
    left: 27px;
    top: 48px;
}

.footerT4S {
    width: 97px;
    height: 23px;
    left: 0;
    top: 74px;

    .tableNumber {
        top: 4px;
    }

    .tableNumberLong {
        left: 37px;
    }

    .tableNumberShort {
        left: 40px;
    }
}

// T6R
.timeT6R {
    left: 76px;
    top: 10px;
}

.nameT6R {
    left: 72px;
    top: 28px;
}

.groupT6R {
    left: 68px;
    top: 48px;
}

.footerT6R {
    width: 183px;
    height: 23px;
    left: 0;
    top: 74px;

    .tableNumber {
        left: 81px;
        top: 4px;
    }
}

// T8S
.timeT8S {
    left: 76px;
    top: 35px;
}

.nameT8S {
    left: 72px;
    top: 76px;
}

.groupT8S {
    left: 68px;
    top: 96px;
}

.footerT8S {
    width: 183px;
    height: 23px;
    left: 0;
    top: 160px;

    .tableNumber {
        left: 81px;
        top: 3px;
    }
}

// T8R
.timeT8R {
    left: 119px;
    top: 10px;
}

.nameT8R {
    left: 115px;
    top: 28px;
}

.groupT8R {
    left: 111px;
    top: 48px;
}

.footerT8R {
    width: 269px;
    height: 23px;
    left: 0;
    top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tableNumber {
        text-align: center;
    }
}

// T10R
.timeT10R {
    left: 162px;
    top: 10px;
}

.nameT10R {
    left: 158px;
    top: 28px;
}

.groupT10R {
    left: 155px;
    top: 48px;
}

.footerT10R {
    width: 356px;
    height: 23px;
    left: 0;
    top: 73px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tableNumber {
        text-align: center;
    }
}

// T12R
.timeT12R {
    left: 203px;
    top: 10px;
}

.nameT12R {
    left: 199px;
    top: 28px;
}

.groupT12R {
    left: 196px;
    top: 48px;
}

.footerT12R {
    width: 447px;
    height: 23px;
    left: 0;
    top: 73px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tableNumber {
        text-align: center;
    }
}
