@import '@/styles/common/mixins';

.tableShape {
    position: relative;
}

.innerContent {
    position: absolute;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.orderVariant {
    position: absolute;

    @include touch-device {
        @include touch-target(44px);
    }

    &:active {
        transform: scale(0.98);
    }

    .innerContent {
        border-radius: 5px;
    }

    .border {
        height: 9px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.border {
    position: absolute;
    width: 76px;
    height: 11px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.borderTop {
    transform-origin: top left;
}

.borderBottom {
    transform: rotate(-180deg);
    transform-origin: top left;
}

.borderLeft {
    transform: rotate(-90deg);
    transform-origin: top left;
}

.borderRight {
    transform: rotate(90deg);
    transform-origin: top left;
}

.time {
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: 900;
    word-wrap: break-word;
    margin-top: 10px;
}

.name {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: 800;
    word-wrap: break-word;
}

.group {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 10px;
    font-weight: 500;
    word-wrap: break-word;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 18px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .tableNumber {
        color: white;
        font-size: 13px;
        font-weight: 800;
        word-wrap: break-word;
    }
}
