.tableShape {
    position: relative;
}

.innerContent {
    position: absolute;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.border {
    position: absolute;
    width: 76px;
    height: 11px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.borderTop {
    transform-origin: top left;
}

.borderBottom {
    transform: rotate(-180deg);
    transform-origin: top left;
}

.borderLeft {
    transform: rotate(-90deg);
    transform-origin: top left;
}

.borderRight {
    transform: rotate(90deg);
    transform-origin: top left;
}
