@import '../../../common/mixins';

.memoContent {
  padding: 39px 72px;
  min-height: 400px;

  @include tablet {
    padding: 30px 50px;
    min-height: 300px;
  }
}

.textarea {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border: none;
  outline: none;
  font-size: 40px;
  font-weight: 400;
  color: #1F1F1F;
  resize: none;
  background: transparent;

  @include tablet {
    min-height: 300px;
    font-size: 30px;
  }

  &::placeholder {
    color: #959595;
  }

  &:focus {
    outline: none;
  }
}
