@import '../../../common/mixins';

.memoContent {
  padding: 39px 72px;
  min-height: 400px;

  @include tablet {
    padding: 30px 50px;
    min-height: 300px;
  }
}

.textarea {
  width: 100%;
  height: 100%;
  min-height: 400px;
  border: none;
  outline: none;
  font-size: 40px;
  font-weight: 400;
  color: #1F1F1F;
  resize: none;
  background: transparent;

  @include tablet {
    min-height: 300px;
    font-size: 30px;
  }

  &::placeholder {
    color: #959595;
  }

  &:focus {
    outline: none;
  }
}

.saveButton {
  width: 254px;
  height: 84px;
  background: #6600FF;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease;

  @include tablet {
    width: 150px;
    height: 55px;
    font-size: 22px;
    border-radius: 22px;
  }

  &:hover {
    background: #5500DD;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(102, 0, 255, 0.3);
  }

  &:active {
    transform: translateY(0);
  }
}
