@import '@/styles/common/_mixins';

.tableItem {
    position: absolute;
    user-select: none;
    transition: opacity 0.2s;
    z-index: 10;

    &.selected {
        z-index: 100;
    }

    &.dragging {
        opacity: 0.5;
        z-index: 9999;

        .controlPanel,
        .numberDropdown {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.tableWrapper {
    cursor: grab;
    user-select: none;

    &:active {
        cursor: grabbing;
    }

    .dragging & {
        cursor: grabbing;
    }
}

.tableNumber {
    color: #7000FF;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panelWrapper {
    position: absolute;
    top: -20%;
    left: 50%;
    z-index: 100;
}

.controlPanel {
    width: 280px;
    padding: 10px;
    background: #ECE6F4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    overflow: visible;
    border-radius: 10px;
    outline: 1px #9081D8 solid;
    outline-offset: -1px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    gap: 9px;
    position: relative;
    cursor: default;
    user-select: none;

    button {
        padding: 5px 8px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: none;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.85;
        }

        span {
            color: white;
            font-size: 18px;
            font-weight: 600;
            white-space: nowrap;

            @include tablet {
                font-size: 16px;
            }
        }
    }
}

.assignButton {
    opacity: 0.70;
    background: #6600FF;
}

.rotateButton {
    background: #666666;
}

.deleteButton {
    background: #DC0000;
}

.numberDropdown {
    width: 115px;
    height: 207px;
    position: absolute;
    left: 12px;
    top: 54px;
    z-index: 101;
    cursor: default;
    user-select: none;
}

.numberList {
    width: 100%;
    height: 100%;
    background: #F3F3F3;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    outline: 1px #F3F3F3 solid;
    outline-offset: -1px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.numberItem {
    flex-shrink: 0;
    height: 29.57px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    transition: background 0.2s;

    &:hover:not(.used) {
        background: rgba(58, 60, 86, 0.1);
    }

    &.current {
        background: #3A3C56;
        color: white;
    }

    &.used {
        background: #D9D9D9;
        color: #959595;
        cursor: not-allowed;
    }
}
