.container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.canvasWrapper {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
