.container {
    flex: 1;
    height: 100%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.backgroundSvg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
