.container {
    position: relative;
    display: inline-block;
    background: transparent;
    width: 1920px;
    height: 1080px;
    overflow: visible;
}

.canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;

    .canvasImage {
        display: block;
        width: 1920px;
        height: 1080px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
    }
}

.backgroundSvg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
