.tabContainer {
    width: 100%;
    height: 40px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.tab {
    width: 120px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    color: #959595;
    font-size: 20px;
    font-weight: 700;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &.active {
        background: #6600FF;
        box-shadow: 0px 0px 10px rgba(18, 18, 18, 0.40);
        color: white;
    }

    &:hover:not(.active) {
        background: #F5F5F5;
    }
}
