@import '@/styles/common/_mixins';

.container {
    width: 100%;
    max-width: 320px;
    height: 100%;
    position: relative;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    border-radius: 10px;
    padding: 18px 22px;

    @include tablet {
        max-width: 280px;
        padding: 15px 18px;
    }
}

.title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;

    @include tablet {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.tableGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include tablet {
        gap: 20px;
    }
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;

    @include tablet {
        gap: 20px;
    }
}

.tableContainer {
    position: relative;
    cursor: grab;
    transition: transform 0.2s ease;

    &:active {
        cursor: grabbing;
        transform: scale(0.98);
    }

    &:hover {
        transform: scale(1.05);
    }
}

.innerContent {
    position: absolute;
    background: white;
    overflow: hidden;
    border-radius: 5px;
}

.capacity {
    color: #969595;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    text-align: center;
}

.border {
    position: absolute;
    width: 38px;
    height: 2.38px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.borderTop {
    transform-origin: top left;
}

.borderBottom {
    transform: rotate(-180deg);
    transform-origin: top left;
}

.borderLeft {
    transform: rotate(-90deg);
    transform-origin: top left;
}

.borderRight {
    transform: rotate(90deg);
    transform-origin: top left;
}

.table1x1 {
    .innerContent {
        width: 48px;
        height: 48px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 14px;
        top: 18px;
    }
}

.table1x2 {
    .innerContent {
        width: 48px;
        height: 91px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 14px;
        top: 40px;
    }
}

.table1x3 {
    .innerContent {
        width: 48px;
        height: 134px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 14px;
        top: 61px;
    }
}

.table1x4 {
    .innerContent {
        width: 48px;
        height: 178px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 14px;
        top: 83px;
    }
}

.table1x5 {
    .innerContent {
        width: 48px;
        height: 223px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 14px;
        top: 105px;
    }
}

.table2x1 {
    .innerContent {
        width: 91px;
        height: 48px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 35px;
        top: 18px;
    }
}

.table2x2 {
    .innerContent {
        width: 91px;
        height: 91px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 35px;
        top: 40px;
    }
}

.table3x1 {
    .innerContent {
        width: 134px;
        height: 48px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 57px;
        top: 18px;
    }
}

.table4x1 {
    .innerContent {
        width: 178px;
        height: 48px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 79px;
        top: 18px;
    }
}

.table5x1 {
    .innerContent {
        width: 225px;
        height: 48px;
        left: 6px;
        top: 6px;
    }

    .capacity {
        left: 102px;
        top: 18px;
    }
}
