@import '@/styles/common/_mixins';

.container {
    width: 100%;
    max-width: 320px;
    height: 100%;
    position: relative;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    border-radius: 10px;
    padding: 18px 22px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet {
        max-width: 280px;
        padding: 15px 18px;
    }
}

.title {
    color: black;
    font-size: 20px;
    font-weight: 700;

    @include tablet {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.tableGrid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transform: scale(0.5);
    transform-origin: top left;

    @include tablet {
        gap: 20px;
        transform: scale(0.45);
    }
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;

    @include tablet {
        gap: 20px;
    }
}

.tableContainer {
    position: relative;
    cursor: grab;
    transition: transform 0.2s ease;
    transform-origin: top left;

    &:active {
        cursor: grabbing;
        transform: scale(0.49);
    }

    &:hover {
        transform: scale(0.9);
    }
}

.capacity {
    color: #969595;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
