@import '@/styles/common/_mixins';

.listContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 60px;
    overflow-y: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @include tablet {
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding: 50px;
    }
}

.tableCard {
    width: 100%;
    max-height: 200px;
    height: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    padding: 16px;
    transition: transform 0.2s ease;

    &.unassigned {
        background: #9081D8;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }

    &.assigned {
        background: #48487C;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.30);
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
    }
}

.tableType {
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 900;
    word-wrap: break-word;

    .assigned & {
        color: #E6E9F1;
    }
}

.tableInfo {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.assignedLabel {
    color: #E6E9F1;
    font-size: 20px;
    font-weight: 800;
    word-wrap: break-word;
}

.tableTab {
    height: 30px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .unassigned & {
        background: #ECE6F4;
    }

    .assigned & {
        background: #D4E6FA;
    }
}

.tableNumber {
    text-align: center;
    color: #313246;
    font-size: 18px;
    font-weight: 800;
    word-wrap: break-word;
}
