@import '../../../common/mixins';

.reasonList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    gap: 12px;
  }

  &.multipleItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &.singleItem {
    align-items: center;
  }

  .reasonButton {
    width: 100%;
    max-width: 300px;
    height: 60px;
    border-radius: 12px;
    outline: 0.80px #959595 solid;
    outline-offset: -0.80px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;

    @include tablet {
      height: 45px;
      font-size: 18px;
      border-radius: 9px;
    }

    .singleItem & {
      max-width: 300px;

      @include tablet {
        max-width: 225px;
      }
    }

    &:hover {
      background: rgba(102, 102, 102, 0.05);
    }

    &.selected {
      background: #001A9F;
      color: white;
      outline: 1px #0655F6 solid;
    }
  }
}
