@import '../../../common/mixins';

.inputSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-bottom: 17px;

  @include tablet {
    margin-bottom: 13px;
  }

  .input {
    width: 481px;
    height: 43px;
    padding-left: 20px;
    background: white;
    outline: 1px #D9D9D9 solid;
    outline-offset: -1px;
    border: none;
    color: #444444;
    font-size: 20px;
    font-weight: 400;

    @include tablet {
      width: auto;
      flex: 1;
      height: 32px;
      font-size: 15px;
      padding-left: 15px;
    }

    &::placeholder {
      color: #959595;
    }
  }

  .addButton {
    height: 45px;
    width: 100px;
    background: #7B7B7B;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px #959595 solid;
    border-top: 1px #959595 solid;
    border-bottom: 1px #959595 solid;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s;

    @include tablet {
      width: 100px;
      height: 34px;
    }

    &:hover {
      background: #6B6B6B;
    }

    .buttonText {
      color: #F3F3F3;
      font-size: 20px;
      font-weight: 700;

      @include tablet {
        font-size: 15px;
      }
    }
  }
}

.tableContainer {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;

  .tableHeader {
    display: flex;
    align-items: center;
    height: 45px;
    background: #D9D9D9;
    overflow: hidden;
    border-bottom: 1px #959595 solid;

    @include tablet {
      height: 34px;
    }

    .orderColumn,
    .contentColumn,
    .manageColumn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      @include tablet {
        gap: 7px;
      }
    }

    .orderColumn {
      width: 70px;

      @include tablet {
        width: 52px;
      }
    }

    .contentColumn {
      width: 436px;

      @include tablet {
        flex: 1;
      }
    }

    .manageColumn {
      flex: 1;

      @include tablet {
        width: 80px;
        flex: none;
      }
    }

    .headerText {
      color: #444444;
      font-size: 18px;
      font-weight: 600;

      @include tablet {
        font-size: 13px;
      }
    }
  }

  .tableBody {
    max-height: 251px;
    overflow-y: auto;

    @include tablet {
      max-height: 188px;
    }

    &::-webkit-scrollbar {
      width: 9px;

      @include tablet {
        width: 7px;
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #D9D9D9;
      border-radius: 5px;
    }

    .tableRow {
      display: flex;
      align-items: center;
      background: #F3F3F3;
      overflow: hidden;
      outline: 1px white solid;
      outline-offset: -1px;

      &:nth-child(even) {
        height: 52px;

        @include tablet {
          height: 39px;
        }
      }

      &:nth-child(odd) {
        height: 51px;

        @include tablet {
          height: 38px;
        }
      }

      .orderColumn,
      .contentColumn,
      .manageColumn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;

        @include tablet {
          height: 34px;
        }
      }

      .orderColumn {
        width: 70px;
        background: #D9D9D9;

        @include tablet {
          width: 52px;
        }

        .dragHandle {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: grab;

          &:active {
            cursor: grabbing;
          }

          svg {
            @include tablet {
              width: 13px;
              height: 6px;
            }
          }
        }
      }

      .contentColumn {
        width: 436px;

        @include tablet {
          flex: 1;
        }

        .categoryName {
          color: #444444;
          font-size: 18px;
          font-weight: 700;

          @include tablet {
            font-size: 13px;
          }
        }
      }

      .manageColumn {
        flex: 1;

        @include tablet {
          width: 80px;
          flex: none;
        }

        .deleteButton {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background: none;
          border: none;
          cursor: pointer;
          transition: opacity 0.2s;

          @include tablet {
            gap: 7px;
          }

          &:hover {
            opacity: 0.7;
          }

          svg {
            @include tablet {
              width: 7px;
              height: 1.5px;
            }
          }

          .deleteText {
            color: #DC0000;
            font-size: 18px;
            font-weight: 600;

            @include tablet {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
