
@import '../../../common/mixins';

.erpContent {
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  overflow: hidden;

  @include tablet {
    max-height: 50vh;
  }
}

.searchSection {
  display: flex;
  margin-bottom: 27px;
  flex-shrink: 0;
  @include tablet {
    margin-bottom: 20px;
  }

  .searchTypeSelect {
    width: 150px;
  }

  .searchInputGroup {
    height: 50px;
    width: calc(100% - 150px);
    display: flex;
    @include tablet {
      height: 40px;
    }

    .searchInput {
      width: 100%;
      height: 50px;
      padding-left: 20px;
      background: white;
      outline: 1px #D9D9D9 solid;
      outline-offset: -1px;
      border: none;
      color: #1F1F1F;
      font-size: 22px;
      font-weight: 300;

      @include tablet {
        height: 40px;
        font-size: 18px;
      }

      &::placeholder {
        color: #959595;
      }
    }

    .searchButton {
      width: 128px;
      height: 50px;
      background: #3A3C56;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #2A2C46;
      }

      .buttonText {
        color: white;
        font-size: 22px;
        font-weight: 600;
      }

      @include tablet {
        width: 100px;
        height: 40px;
        .buttonText {
          font-size: 18px;
        }
      }
    }
  }
}

.resultLabel {
  color: #666666;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 12px;
  flex-shrink: 0;
  @include tablet {
    font-size: 18px;
    line-height: 24px;
  }
}

.tableContainer {
  width: 612px;
  background: #F3F3F3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  @include tablet {
    width: 100%;
  }

  .tableHeader {
    display: flex;
    height: 50px;
    background: #D9D9D9;
    align-items: center;
    border-bottom: 1px #959595 solid;
    flex-shrink: 0;

    .categoryColumn,
    .codeColumn,
    .nameColumn,
    .priceColumn,
    .selectColumn {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .codeColumn {
      width: 20%;
    }

    .nameColumn {
      width: 35%;
    }

    .priceColumn {
      width: 30%;
    }

    .selectColumn {
      width: 15%;
    }

    .cellText {
      color: #444444;
      font-size: 18px;
      font-weight: 600;
      @include tablet {
        font-size: 16px;
      }
    }

    .headerText {
      color: #1F1F1F;
      font-size: 18px;
      font-weight: 500;
      @include tablet {
        font-size: 16px;
      }
    }
  }

  .tableBody {
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    @include custom-scrollbar(9px, #D9D9D9, transparent);

    .tableRow {
      display: flex;
      height: 50px;
      align-items: center;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #E3E3E3;
      }

      .categoryColumn,
      .codeColumn,
      .nameColumn,
      .priceColumn,
      .selectColumn {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .codeColumn {
        width: 20%;
      }

      .nameColumn {
        width: 35%;
      }

      .priceColumn {
        width: 30%;
      }

      .selectColumn {
        width: 15%;
      }

      .cellText {
        color: #444444;
        font-size: 18px;
        font-weight: 600;
        @include tablet {
          font-size: 16px;
        }
      }
    }

    .emptyState {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      width: 100%;

      .emptyText {
        color: #959595;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

.gradient {
  position: absolute;
  width: 15px;
  height: 610px;
  left: 67px;
  bottom: -579px;
  transform: rotate(-90deg);
  background: linear-gradient(270deg, rgba(243, 243, 243, 0) 0%, #F3F3F3 100%);
  pointer-events: none;
}