.messageModal {
  min-width: 1063px;
}

.messageContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.closeButton {
  width: 23px;
  height: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.formContainer {
  display: flex;
  gap: 7px;
}

.labelColumn {
  width: 172px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .label {
    height: 50px;
    padding: 10px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size: 22px;
    font-weight: 700;
  }
}

.inputColumn {
  width: 679px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputWrapper {
  position: relative;

  .selectBox {
    width: 100%;
    height: 50px;
    background: #F3F3F3;
    border-radius: 2px;
    outline: 1px #D9D9D9 solid;
    outline-offset: -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
    cursor: default;

    .selectedText {
      color: #1F1F1F;
      font-size: 22px;
      font-weight: 400;
    }

    .placeholderText {
      color: #959595;
      font-size: 22px;
      font-weight: 400;
    }

    .arrow {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;

      &.arrowDown {
        border-top: 7px solid #1F1F1F;
      }

      &.arrowUp {
        border-bottom: 7px solid #1F1F1F;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1001;

    .dropdownItem {
      padding: 10px 23px;
      cursor: pointer;
      font-size: 22px;
      font-weight: 400;

      &:hover {
        background: #f5f5f5;
      }
    }
  }

  .textInput {
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    border-radius: 2px;
    outline: 1px #D9D9D9 solid;
    outline-offset: -1px;
    padding: 0 23px;
    color: black;
    font-size: 22px;
    font-weight: 400;

    &::placeholder {
      color: #959595;
    }
  }

  .fileInputContainer {
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 2px;
    outline: 1px #D9D9D9 solid;
    outline-offset: -1px;
    display: flex;
    align-items: center;
    position: relative;

    .placeholderText {
      flex: 1;
      padding: 0 23px;
      color: #959595;
      font-size: 22px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 50px;
    }

    .attachButton {
      min-width: 132px;
      height: 49px;
      background: #48487C;
      color: #F3F3F3;
      border: none;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #3a3a66;
      }
    }
  }
}

.submitButtonContainer {
  margin-left: 7px;
  display: flex;
  align-items: flex-start;
}

.submitButton {
  width: 121px;
  height: 160px;
  background: #001A9F;
  color: white;
  border: none;
  border-radius: 5px;
  outline: 1px #0655F6 solid;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: #001580;
  }
}

.historySection {
  display: flex;
  flex-direction: column;
}

.historyHeader {
  display: flex;
  background: #D9D9D9;
}

.headerCell {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  font-size: 22px;
  font-weight: 700;
  border-right: 1px solid #F3F3F3;
}

.historyBody {
  max-height: 275px;
  overflow-y: auto;
}

.historyRow {
  display: flex;
  border-bottom: 1px solid #D9D9D9;
}

.cell {
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1F1F1F;
  font-size: 20px;
  font-weight: 400;
  border-right: 1px solid #D9D9D9;
}

.timeColumn {
  width: 15%;
  border-left: 1px solid #D9D9D9;
}

.senderColumn {
  width: 15%;
}

.contentColumn {
  width: 60%;
  justify-content: flex-start;
  gap: 4px;
}

.imageColumn {
  width: 10%;
  border-right: 1px solid #D9D9D9;
}

.recipientText {
  color: #666666;
}

.messageText {
  color: #1F1F1F;
}

.historyImage {
  width: 79px;
  height: 44px;
  object-fit: cover;
}

.noImage {
  color: #959595;
}

.emptyHistory {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  font-size: 20px;
  border: 1px solid #D9D9D9;
  border-top: none;
}

@import '../../../common/mixins';

@include tablet {
  .messageModal {
    min-width: 90vw;
  }

  .labelColumn {
    width: 140px;

    .label {
      height: 44px;
      font-size: 20px;
    }
  }

  .inputWrapper {
    .selectBox,
    .textInput {
      height: 44px;
      font-size: 20px;
    }

    .fileInputContainer {
      height: 44px;

      .placeholderText {
        font-size: 20px;
        line-height: 44px;
      }

      .attachButton {
        min-width: 110px;
        height: 43px;
        font-size: 20px;
      }
    }

    .dropdown {
      .dropdownItem {
        font-size: 20px;
      }
    }
  }

  .submitButtonContainer {
    align-items: flex-start;
  }

  .submitButton {
    width: 90px;
    height: 140px;
    font-size: 20px;
  }

  .headerCell {
    font-size: 18px;
    height: 44px;
  }

  .cell {
    font-size: 18px;
    height: 50px;
  }

  .historyImage {
    width: 70px;
    height: 40px;
  }

  .emptyHistory {
    font-size: 18px;
    height: 100px;
  }
}
