.button {
  padding: 0 20px;
  transition: all .3s;
  color: var(--mode-gray1);
  background: var(--mode-gray3);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.36px;
  border-radius: 8px;
  line-height: 40px;
  border:none;
  white-space: nowrap;
  [data-theme="dark"] & {
    color: var(--mode-gray1);
    background: var(--mode-color1);
  }

  &.primary {
    background-color: var(--mode-keycolor);
    color: var(--mode-Background);
    transition: background-color .2s;
    [data-theme="dark"] & {
      color: var(--mode-font_key);
    }

    &:disabled {
      background-color: var(--mode-color1);
    }
  }

  &.block { //버튼 하나일 경우
    display: block;
    width: 100%;
    border-radius:50px;
    font-size: 20px;
    line-height: 50px;
  }

  &.small {
    padding: 7px 12px;
    font-size: 14px;
  }

  &.large {
    padding: 15px 25px;
    font-size: 18px;
  }
}