@import '../../../../../styles/common/mixins';

.drawerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.drawerContainer {
  width: 100%;
  height: 90%;
  position: relative;
  left: 0;
  bottom: 0;
  background: #F3F3F3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 40px 30px 30px;

  @include tablet {
    padding: 0 30px 25px 25px;
  }
}

.drawerContent {
  width: 100%;
  height: calc(90% - 50px);
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.drawerHeader {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;

  @include tablet {
    margin-top: 50px;
    gap: 20px;
  }

  .title {
    color: #1F1F1F;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;

    @include tablet {
      font-size: 25px;
      line-height: 40px;
    }
  }

  .titleContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    @include tablet {
      gap: 15px;
    }
  }
}

.closeButton {
  width: 23px;
  height: 23px;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 20px;
  @include tablet {
    img {
      width: 16px;
      height: 16px;
    }
  }
}

.storeSelector {
  width: 190px;
  height: 56px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include tablet {
    width: 130px;
    height: 40px;
  }

  .storeName {
    color: #444444;
    font-size: 24px;
    font-weight: 600;

    @include tablet {
      font-size: 15px;
    }
  }
  .arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
    @include tablet {
      width: 12px;
      height: 12px;
    }
  }
}

.settingModeHeader {
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.tab {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  .tabText {
    color: #959595;
    font-size: 27px;
    font-weight: 700;
    word-wrap: break-word;
  }

  &.active {
    border-bottom: 1px #444444 solid;

    .tabText {
      color: #444444;
    }
  }

  @include tablet {
    padding: 15px;
    .tabText {
      font-size: 16px;
    }
  }
}

.menuModeHeader {
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  display: inline-flex;
  margin-left: auto;
  @include tablet {
    gap: 8px;
  }
}

.searchSection {
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.searchInput {
  width: 452px;
  height: 56px;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #666666;
  font-size: 22px;
  font-weight: 300;
  border: none;
  @include tablet {
    width: 240px;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
  }
}

.searchButton {
  height: 56px;
  padding: 20px;
  background: #3A3C56;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #2d2f44;
  }

  .buttonText {
    color: white;
    font-size: 22px;
    font-weight: 500;
    word-wrap: break-word;
  }
  @include tablet {
    height: 40px;
    width: 60px;
    padding: 0 10px;
    .buttonText {
      font-size: 16px;
    }
  }
}

.categoryButton,
.registerButton,
.orderButton {
  height: 56px;
  padding: 20px;
  background: #3A3C56;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #2d2f44;
  }

  .buttonText {
    color: white;
    font-size: 22px;
    font-weight: 500;
    word-wrap: break-word;
  }
  @include tablet {
    height: 40px;
    padding: 0 10px;
    .buttonText {
      font-size: 16px;
    }
  }
}

.cancelReasonButton {
  height: 56px;
  padding: 20px;
  background: #6600FF;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #5500cc;
  }

  .buttonText {
    color: white;
    font-size: 22px;
    font-weight: 500;
    word-wrap: break-word;
  }
  @include tablet {
    height: 40px;
    padding: 0 10px;
    .buttonText {
      font-size: 16px;
    }
  }
}

.deleteButton {
  height: 56px;
  padding: 20px;
  background: #959595;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #7a7a7a;
  }

  .buttonText {
    color: white;
    font-size: 22px;
    font-weight: 500;
    word-wrap: break-word;
  }
  @include tablet {
    height: 40px;
    padding: 0 10px;
    .buttonText {
      font-size: 16px;
    }
  }
}