.section {
  position: relative;
  width: 100%;
  height: 100vh;
  .holeImg {
    width: 100%;
    height: 100%;
  }
  .marker {
    position: absolute;
    z-index: 88;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    background: red;
    border-radius: 5px;
  }
}